.clearMe {display: block; height: 0; clear: both; font-size: 0;}
.clear:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.clear {display: inline-block;}
/* hide IE mac \*/
* html .clear {height: 1%;}
.clear {display: block;}
/* */

.success {color: #5a3;}
.error {color: #c22;}
a {color: #73b8d1; color: #92b579; color: #789662; outline: none;}
strong {font-weight: bold;}

h1 {font-size: 24px; font-weight: bold; color: #444; margin: 0 0 16px 0;}
h1 small {margin-left: 5px; font-size: 14px; font-weight: normal; color: #999;}

img.loading {visibility: hidden;}

icon {display: inline-block; margin: 0 0 0 0; padding: 0; font-family: Entypo; font-weight: 300; font-size: 18px; line-height: .6em; vertical-align: baseline;}
a icon {color: #222;}

.interface {line-height: 1.4em; text-align: center;}
.interface h2 {font-size: 1.4em; margin: 0 0 16px 0;}
.interface p {margin: 0 0 16px 0; font-size: 1.3em; line-height: 1.4em;}

.content {line-height: 1.4em; text-align: left;}
.content h2 {margin-bottom: 8px; font-size: 17px;}
.content h3 {font-size: 14px;}
.content h4 {font-size: 12px;}
.content h5 {font-size: 11px;}
.content h5 {font-weight: bold;}
.content ul {list-style: disc;}
.content ul,
.content ol {margin: 0 0 16px 32px;}
.content p {padding: 0 0 16px 0;}
.content em {font-style: italic;}
.content strong {font-weight: bold;}
.content img {max-width: 100%;}
.content blockquote {display: block; margin: 0 0 16px 0; padding: 6px 6px 6px 10px; background: #f5f5f5;}
.content blockquote p:last-child {padding-bottom: 0;}
.content hr {display: block; height: 0; margin-bottom: 16px; background: 0; border: 0; border-bottom: 1px solid #999;}
.content pre {overflow-x: auto; margin: 0 0 16px 0; padding: 6px; font-family: monospace; color: #611; background-color: #f5f5f5;}
.content code {display: inline-block; margin: 0 2px; padding: 1px 4px; font-family: monospace; color: #611; background-color: #f5f5f5;}
.content kbd {padding: .1em .6em; font-size: .9em; background: #f7f7f7; border: 1px solid #ccc; border-radius: 3px; box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;}
.content table {margin: 0 0 16px 0; border-collapse: collapse;}
.content table th, td {padding: 6px 4px; border: 1px solid #ddd;}
.content table th {background: #eee;}
.content .warn {color: #922;}

form.standard-form {padding: 38px 4% 16px 4%;}
form.standard-form input[type=text],
form.standard-form input[type=password],
form.standard-form input[type=email],
form.standard-form textarea {width: 92%; margin: 0 0 12px 0; padding: 9px 4%; font-size: 1.3em; background: #ededed; border: 0; border-bottom: 1px solid #bbb; border-radius: 0;}
form.standard-form .button-row {position: fixed; bottom: 0; left: 0; width: 100%; text-align: left; background: rgba(0, 0, 0, .8);}
form.standard-form .button-row .button {width: 44%; background: 0; border: 0;}
form.standard-form .button-row .button span {padding: 14px;}
form.standard-form .button-row .button span icon {margin: 0; font-size: 1.4em;}
form.standard-form .button-row .button.submit {float: right; text-align: right;}
form.standard-form .button-row .button.submit icon {color: #72f865; font-size: 1.3em;}
form.standard-form .button-row .button.cancel {float: left;}
form.standard-form .button-row .button.cancel icon {color: #ff3333;}

ul.item-list {list-style: none;}
ul.item-list li {display: block; border-bottom: 1px solid #ddd;}
ul.item-list li h2 {font-size: 1.3em;}
ul.item-list li a {display: block; padding: 22px 12px; color: #262;}
ul.item-list li a icon {float: right; margin: 3px 0 0 0; color: #aaa;}

/* generic (non-header) buttons */
div.button {display: inline-block; width: 70%; cursor: pointer; line-height: 10px; background: #83b362; border-radius: 8px;}
div.button:hover { }
div.button icon {float: left; margin: -1px 8px 0 0; color: rgba(255, 255, 255, .6); font-size: 1.2em; vertical-align: baseline;}
div.button span {display: inline-block; padding: 16px 0 14px 0; color: #fff; text-transform: none; font-size: 1.4em; font-weight: normal;}

/* modal styles */
.modalcontent {background: #fff url(../images/site/modal/header.png) 0 0 repeat-x !important;}
/*.modalcontent {background: url(../images/site/trans_111_90.png) 0 0 !important;}*/
.modalcontent > div > h1,
.modalcontent > div.bookmark > div.edit > div > h1 {margin: -4px 0 24px 0; font-size: 20px; font-weight: normal; color: #999; text-transform: uppercase;}

/* tooltips */
span.tooltip {display: inline; cursor: help; color: #73b8d1;}
.tip-container {position: relative; z-index: 2000; background: url(../images/site/trans_111_90.png) top left; border-radius: 4px;}
.tip {color: #fff; width: 250px; z-index: 13000; border: 1px solid #404040; padding: 0; margin: 0; text-align: left; border-radius: 4px;}
.tip-title {font-weight: bold; font-size: 11px; margin: 0; color: #73b8d1; padding: 6px 16px 4px 8px;}
.tip-text {font-size: 11px; padding:  0 8px 6px 8px; color: #ddd; line-height: 1.8em;}
.tip-text ul {margin-left: 30px; list-style: disc;}
.tip-text em {color: #d6a587; font-style: normal;}

/* LOADING overlay */
#loading-overlay {display: none; z-index: 2; position: fixed; left: 0; top: 44px; min-width: 100%; height: 100%; margin: 0 auto; padding: 0; text-align: center; background: rgba(255, 255, 255, .7);}
#loading-overlay > div {display: table-cell; vertical-align: middle;}
#loading-overlay span {display: inline-block; margin-bottom: 120px;}
#loading-overlay span.spin {display: none;}
#loading-overlay img {margin: 0 3px; opacity: .2; transition: opacity .5s;}
#loading-overlay img.show {opacity: 1;}

/*
::-webkit-input-placeholder { color: #777; }
:-moz-placeholder { color: #777; }
::-moz-placeholder { color: #777; }
:-ms-input-placeholder { color: #777; }
*/

/* go away... */
#MathJax_Message {display: none !important;}

