/* layout shit */
.messages > .sidebar {position: absolute; float: left; width: 20%;}
.messages > .menu {}
.messages > .message {float: right; width: 79%;}

/* general */
div.button.compose span {padding-left: 25px; background: url(/images/site/icons/compose_16x16.png) 4px center no-repeat;}

/* sidebar */
.messages > .sidebar > h1 {display: inline-block; font-size: 24px; font-weight: normal;}
.messages > .sidebar > div.button {float: right;}
.messages > .sidebar > ul.actions {float: right; list-style: none;}
.messages > .sidebar > ul.actions li {display: inline-block;}
/* conversation list (sidebar) */
.messages .conversations ul li {display: block; height: 60px; padding: 8px 12px; cursor: pointer; border-bottom: 1px solid #ccc;}
.messages .conversations ul li {
	background: rgb(236,236,236); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(236,236,236,1) 0%, rgba(215,215,215,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(236,236,236,1)), color-stop(100%,rgba(215,215,215,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(236,236,236,1) 0%,rgba(215,215,215,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(236,236,236,1) 0%,rgba(215,215,215,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(236,236,236,1) 0%,rgba(215,215,215,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(236,236,236,1) 0%,rgba(215,215,215,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#d0d0d0',GradientType=0 ); /* IE6-9 */
}
.messages .conversations {list-style: none; border-top: 1px solid #ccc;}
.messages .conversations ul li.sel {padding-left: 8px; background: #f0f0f0; border-left: 4px solid #ccc;}
.messages .conversations ul li.unread {padding-left: 8px; border-left: 4px solid #73b8d1;}
.messages .conversations ul li h3 {margin: 0 0 6px 0; font-size: 17px; color: #4695b1;}
.messages .conversations ul li .info {margin: 0 0 6px 0;}
.messages .conversations ul li .info em {font-weight: bold; color: #222;}
.messages .conversations ul li p {line-height: 1.3em; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; color: #555;}

/* message pane (rain down pain) */
.messages > .message .gutter {padding: 0 24px;}
.messages > .message ul {list-style: none;}
.messages > .message ul li {padding: 10px; background: #fff; border-bottom: 1px solid #ccc;}
.messages > .message ul li.unread {}
.messages > .message ul li h3 {margin: 0 16px 4px 0; font-size: 15px; font-weight: bold; color: #777;}
.messages > .message ul li h3 small {font-size: 12px; font-weight: normal; color: #555;}
.messages > .message ul li .date {float: right; font-size: 12px; color: #777;}
.messages > .message ul li .body {padding: 6px 0; font-size: 13px;}
.messages > .message form.reply {display: block; padding-top: 32px; width: 75%;}
.messages > .message form.reply textarea {width: 99%; min-height: 80px; margin: 0;}
.messages > .message form.reply input[type=submit] {float: right; margin: 6px 0 0 0;}
.messages > .message .content {font-size: 16px;}
.messages > .message .content.personas {padding: 20px; text-align: center; font-size: 20px; background: #cce0f0; border-radius: 10px;}
.messages > .message .content.personas .button {display: inline-block; margin: 0 auto; float: none;}
.messages > .message .content.personas p {}
.messages > .message .content.personas p {}

/* compose */
.message-compose .header {margin-bottom: 16px;}
.message-compose .header > h2 {width: 7%; float: left; padding: 7px 0 0 0; font-size: 18px; font-weight: normal; color: #777;}
.message-compose .header > .select  {width: 91%; float: right;}
.message-compose .header .personas li {cursor: pointer;}

