html {
	overflow: -moz-scrollbars-vertical;
	overflow-y: scroll;
}

::selection {
 background: #bfe1de; /* Safari */
 }
::-moz-selection {
 background: #bfe1de; /* Firefox */
}

html.loading {cursor: progress;}
html.loading a {cursor: progress;}
html.loading header div.loading {visibility: visible;}

html, body {height: 100%;}

body {
	font-size: 13px;
	font-family: helvetica, arial, sans-serif; 
	background: #dcdacd;
	background: #f0f0f0;
	background: #ededed;
}
body.bare {background: #fff;}
body.bare header {display: none;}
body.bare #main {padding: 0; min-height: 0;}
body.bare footer {display: none;}

a { text-decoration: none; }

/* custom icon font(s) */
@font-face { font-family: 'Entypo'; font-weight: 400; src: url(../images/font/entypo.fontello.ttf); }

header {position: relative; width: 100%; height: 52px; margin: 0 0 22px 0; padding: 4px 0 0 0; background: #222; border-bottom: 1px solid #222;}
header h1 {position: absolute; display: inline-block; left: 50%; margin-left: -14.5px; margin: 5px 0 0 0;}
header h1 a {display: block; width: 38px; height: 38px; background: url(../images/template/logo.svg) 0 0 no-repeat; background-size: 100% 100%;}
header h1 span {display: none;}
header h1 {color: #eee; color: #92b579;}
header h1.active {cursor: pointer;}
header h1 small {position: absolute; z-index: 4; right: 0; bottom: 0; display: block; padding: 1px 4px; font-size: 11px; font-weight: bold; color: #fff; background: #d22;}
header div.loading {visibility: hidden; float: left; margin: 15px 16px 0 16px;}

/* header menu */
header div.actions {position: relative; float: left; margin: 0 0 0 14px;}
header div.actions a.menu {display: inline-block; height: 36px; margin: 5px 0 0 0; opacity: .9;}
header div.actions a.menu icon {padding: 9px 0 0 0; font-size: 2.6em; color: #8fc46a;}
header div.actions a.menu:hover {opacity: 1;}
header div.actions div.menu {display: none; position: absolute; right: 0; z-index: 10; width: 220px; margin: -4px 0 0 -220px; padding: 10px; text-align: center; background: #fff; border-radius: 4px; box-shadow: 0 0 3px 2px rgba(0, 0, 0, .3);}
header div.actions div.menu.open {display: block;}
header div.actions div.menu .top {margin: 0 0 8px 0; padding: 6px 0 14px 0; border-bottom: 1px solid #eee;}
header div.actions div.menu ul {list-style: none;}
header div.actions div.menu ul li {display: inline-block; width: 44%; margin: 0 2%;}
header div.actions div.menu ul a {display: block; height: 55px; padding: 3px 0; border: 1px solid #fff; border-radius: 3px;}
header div.actions div.menu ul a:hover {background: #eee; border: 1px solid #ddd;}
header div.actions div.menu ul a icon {display: block; color: #999; font-size: 2.0em; line-height: 1.4em;}
header div.actions div.menu ul a span {color: #111;}

#feedback {z-index: 3; position: fixed; right: -7px; top: 50%; margin-top: -63px;}
#feedback img {border-radius: 6px;}
#main {min-height: 500px; padding: 0 10px;}

footer {display: block; margin: 32px 0 0 0; padding: 16px; font-size: 10px; color: #777; text-align: right;}

@media screen and (min-resolution: 250dpi), screen and (max-width: 1000px) {
	header {float: none; width: auto;}
	#main {padding: 0;}
}

