html {
	overflow: -moz-scrollbars-vertical;
	overflow-y: scroll;
}

::selection {
 background: #bfe1de; /* Safari */
 }
::-moz-selection {
 background: #bfe1de; /* Firefox */
}

html.loading {cursor: progress;}
html.loading a {cursor: progress;}
html.loading header div.loading {visibility: visible;}

body {
	font-size: 13px;
	font-family: helvetica, arial, sans-serif; 
	background: #dcdacd;
	background: #f0f0f0;
}
a { text-decoration: none; }

header {height: 40px; margin: 0 0 32px 0;}
header {
	background: #222; /* Old browsers */
	background: -moz-linear-gradient(top,  #333333 1%, #111111 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#333333), color-stop(100%,#111111)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #333333 1%,#111111 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #333333 1%,#111111 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #333333 1%,#111111 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #333333 1%,#111111 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#111111',GradientType=0 ); /* IE6-9 */
}
header h1 {float: left; padding: 10px 0 0 10px; font-size: 16px; text-transform: lowercase; font-weight: bold;}
header h1 a {color: #eee;}
header h1 a span {display: inline-block; padding: 0 1px;}
header h1 a:hover span {color: #8aceeb;}
header div.loading {visibility: hidden; float: left; margin: 13px 16px 0 16px;}

#main {min-height: 500px; padding: 0 10px;}

footer {display: block; padding: 10px; font-size: 10px; color: #777; border-top: 1px solid #aaa;}
