<div class="title">
	<a class="logo" href="#">
		<img src="{{asset '/images/template/logo.svg'}}">
		{{#if logged_in}}
			{{icon 'settings'}}
		{{/if}}
	</a>
	<h1><span>Turtl</span></h1>
</div>

<div class="actions-container"></div>

