<div class="{{formclass}} clear interface">
	<form class="standard-form">
		{{{content}}}
		<div class="button-row clear">
			<div class="button submit">
				<span><icon>&#10003;</icon></span>
			</div>
			<div class="button cancel">
				<span><icon>&#10060;</icon></span>
			</div>
		</div>
	</form>
</div>


