<div class="actions">
	<? if(user.id) { ?>
		<div class="apps clear"></div>
	<? } ?>

	<? if(user.id) { ?>
		<a class="menu" href="#menu" alt="Menu"><icon>&#9881;</icon></a>
		<ul class="menu">
			<li class="persona">
				<a href="#personas" title="Manage your identity">
					<icon>&#128100;</icon>
					<span>Personas</span>
				</a>
			</li>
			<li class="invites">
				<a href="#invites" title="See your invites">
					<icon>&#128319;</icon>
					<span>Invites</span>
				</a>
			</li>
			<li class="logout">
				<a href="/users/logout" title="Sign out (shortcut `shift+L`)">
					<icon>&#59201;</icon>
					<span>Logout</span>
				</a>
			</li>
		</ul>
	<? } ?>
</div>
