<div class="actions">
	<? if(user.id) { ?>
		<a class="menu" href="#menu" alt="Menu"><icon>&#9776;</icon></a>
		<div class="menu">
			<div class="gutter">
				<div class="top">
					<div class="size-container"></div>
					<? if(config.enable_promo) { ?>
						<a href="#invite" class="invite">Invite friends to get more storage</a>
					<? } ?>
				</div>
				<ul>
					<li class="account">
						<a href="#account" title="Manage your Turtl account">
							<span>Account</span>
						</a>
					</li>
					<li class="persona">
						<a href="#personas" title="Manage your identity">
							<span>Personas</span>
						</a>
					</li>
					<li class="invites">
						<a href="#invites" title="See your invites">
							<span>Invites</span>
						</a>
					</li>
					<li class="wipe">
						<a href="#wipe-data" title="Wipe all local data and log out">
							<span>Wipe local data</span>
						</a>
					</li>
					<li class="logout">
						<a href="/users/logout" title="Sign out (shortcut `shift+L`)">
							<span>Logout</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	<? } ?>
</div>
