<div>
	<p class="animate">
		<img src="{{asset '/images/template/logo.svg'}}">
		<img src="{{asset '/images/template/logo.svg'}}">
		<img src="{{asset '/images/template/logo.svg'}}">
	</p>
	<ul></ul>
</div>
