<div class="overlay"></div>
<div class="inner">
	<div class="gutter">
		<ul>
			{{! settings }}
			{{! --- }}
			<li><a href="/">All notes</a></li>
			<li><a href="/boards">Boards</a></li>
			{{! lock }}
			{{! --- }}
			{{! personas }}
			{{! --- }}
			<li><a href="/users/logout">Logout</a></li>
		</ul>
	</div>
</div>
