<div class="overlay"></div>
<div class="inner">
	<div class="gutter">
		<ul>
			<li>
				<a href="/settings">
					<icon>&#128100;</icon>
					Your account
				</a>
			</li>
			<li>
				<a href="/">
					<icon>&#59190;</icon>
					All notes
				</a>
			</li>
			<li>
				<a href="/boards">
					<icon>&#128213;</icon>
					Boards
				</a>
			</li>
			{{! lock }}
			{{! --- }}
			{{! personas }}
			{{! messages }}
			{{! --- }}
			<li>
				<a href="/users/logout">
					<icon>&#59201;</icon>
					Logout
				</a>
			</li>
		</ul>
	</div>
</div>
