<div class="overlay"></div>
<div class="inner">
	<div class="gutter">
		<ul>
			<li>
				<a href="/settings">
					{{icon 'account'}}
					Your account
				</a>
			</li>
			<li>
				<a href="/">
					{{icon 'notes'}}
					All notes
				</a>
			</li>
			<li>
				<a href="/boards">
					{{icon 'boards'}}
					Boards
				</a>
			</li>
			{{! lock }}
			{{! --- }}
			{{! personas }}
			{{! messages }}
			{{! --- }}
			<li>
				<a href="/users/logout">
					{{icon 'logout'}}
					Logout
				</a>
			</li>
		</ul>
	</div>
</div>

