<p class="warn">
	{{t 'Are you sure you want to delete your account and all your data <em>forever</em>?'}}
</p>

<div class="buttons">
	<div class="button login">
		<input type="submit" class="button" value="{{t 'Yes, delete my account'}}" tabindex="7">
	</div>
	<p class="load">
		{{svg 'loading'}}
	</p>
</div>

