<div class="content">
	<section class="export">
		<div class="type">
			<label>
				<input type="checkbox" name="enex" value="1">
				Export Evernote's ENEX format
			</label>
		</div>
		<div class="buttons">
			<div class="button">
				<span>Export</span>
			</div>
		</div>
		<p class="progress">
			This process can take a while.
		</p>
	</section>
</div>
