<div class="content">
	<section class="import">
		<form>
			<input type="file" name="file">
			<div class="buttons">
				<div class="button">
					<input type="submit" class="button" value="Restore profile">
				</div>
			</div>
		</form>
		<p class="progress">
			This will merge the notes/boards in the backup with the current
			profile.
		</p>
	</section>
</div>

