<ul class="item-list">
	<li>
		<a href="/settings/password">
			{{icon 'next'}}
			Change password
		</a>
	</li>
</ul>
<ul class="item-list">
	<li>
		<a href="#wipe">
			Clear local data
		</a>
	</li>
</ul>

