<div class="section">
	<h3>Confirm your current login</h3>
	<input type="text" name="cur_username" placeholder="Current username" tabindex="1" autocorrect="off" autocapitalize="none">
	<input type="password" name="cur_password" placeholder="Current passphrase" tabindex="2">
</div>

<div class="section">
	<h3>Enter a new password</h3>
	<input type="text" name="new_username" placeholder="New username" tabindex="3" autocorrect="off" autocapitalize="none">
	<input type="password" name="new_password" placeholder="New passphrase" tabindex="4">
	<input type="password" name="new_confirm" placeholder="Confirm passphrase" tabindex="5">
</div>

<div class="buttons">
	<div class="button login">
		<input type="submit" class="button" value="Save" tabindex="7">
	</div>
</div>


