<div class="content padded">
	<h2>{{t 'Boards shared with me'}}</h2>
</div>
{{#if empty}}
	<div class="content padded">
		<p>{{t 'You don\'t have any boards shared with you.'}}</p>
	</div>
{{else}}
	<ul class="item-list"></ul>
{{/if}}
