<div class="account-profile content">
	<div class="size" title="<?=size?> bytes used out of <?=storage?>">
		<div class="bar" style="width: <?=Math.max((size / storage) * 100, 1)?>%;">
			&nbsp; Storage used: <?=(size / (1024 * 1024))?> / <?=(storage / (1024 * 1024))?>mb
		</div>
	</div>

	<div class="promo clear">
		<div class="finvite">
			<a href="#invite">
				<icon>&#59136;</icon>
				Invite friends, get more storage
			</a>
		</div>

		<div class="upgrade">
			<a href="#upgrade">
				<icon>&#58543;</icon>
				Upgrade your account
			</a>
		</div>
	</div>

	<h2>Account info</h2>
	<ul class="info">
		<li>
			You own <?=num_boards?> boards, containing <?=num_notes?> notes in total.
		</li>
		<li>
			You are sharing <?=num_shared_boards?> board<?=(num_shared_boards == 1 ? '' : 's')?>, and
			<?=num_boards_shared?> board<?=(num_boards_shared == 1 ? ' is' : 's are')?> shared with you.
		</li>
		<li>
			You have been a member since <?=member_since?> (<?=Math.ceil(member_days)?> days).
		</li>
	</ul>
</div>

