<?
var pretty_size	=	function(size, div)
{
	var precision	=	2;
	var rounder		=	Math.pow(10, precision);
	return Math.round((size / div) * rounder) / rounder;
};
?>
<div class="profile-size" title="<?=profile_size?> bytes used out of <?=storage?>">
	<div class="bar" style="width: <?=Math.min(Math.max((profile_size / storage) * 100, 4), 100)?>%;">
		<? if(loading_profile_size) { ?>
			&nbsp; (loading)
		<? } else { ?>
			&nbsp; Storage used: <?=pretty_size(profile_size, 1024 * 1024)?> / <?=pretty_size(storage, 1024 * 1024)?>mb
		<? } ?>
	</div>
</div>

