<div class="page content">
	<h1>{{t 'Coming soon!'}}</h1>
	<p>
		{{t 'In an upcoming release, you will be able to see pending profile changes and file uploads/downloads that are in progress.'}}
	</p>
</div>
