@import 'variables';

.boards {
	@item_height: 56px;
	@item_pad_top: 6px;
	@item_pad_side: 9px;
	p.empty {padding: 64px 24px; font-size: 1.3em; line-height: 1.4em; color: @theme_gray; text-align: center;}
	ul.item-list {
		> li {padding: @item_pad_top 9px;}
		> li {
			div.item-actions > a {width: 16px; height: @item_height; margin: -@item_pad_top -@item_pad_side 0 0; padding: 0 @item_pad_side 0 16px; line-height: @item_height + 4px;}
			ul.item-list {width: auto; margin: 8px 0 0 0; padding: 0 0 0 9px; border-top: 1px solid @theme_border;}
			ul.item-list {
				li {padding-right: 0;}
			}
		}
		> li:last-child {border-bottom: 0;}
	}
}

.boards-edit {
	p.child {padding-top: 20px; color: @theme_gray;}
}

.boards-delete {width: 94%; margin: 16px auto 0 auto; color: @theme_black;}
.boards-delete {
	.standard-form {.card();}
	p.warn {
		em {color: @theme_accent;}
	}
	p.child {margin-bottom: 0;}
	p.cancel {margin: 0;}
	ul {width: 50%; margin: 0 auto 16px auto; list-style: none;}
	ul {
		li {color: @theme_accent;}
	}
	label {
		em {color: @theme_accent;}
	}
	.button {margin: 32px 3px 16px 3px;}
}
