.board-list {position: relative; height: 29px; border: 1px solid #999; border-radius: 4px;}
.board-list {
	background: #ddd; /* Old browsers */
	background: -moz-linear-gradient(top, #eee 1%, #d5d5d5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#eee), color-stop(100%,#d5d5d5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #eee 1%,#d5d5d5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #eee 1%,#d5d5d5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #eee 1%,#d5d5d5 100%); /* IE10+ */
	background: linear-gradient(to bottom, #eee 1%,#d5d5d5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eee', endColorstr='#222222',GradientType=0 ); /* IE6-9 */
}
.board-list.open {background: #ded;}
.board-list a.main {display: block; padding: 8px 8px; color: #555; font-weight: bold; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.board-list a.main icon {float: right; margin-top: 2px; color: #777;}
.board-list a.main:hover icon {color: #333;}
.board-list .dropdown {display: none; position: absolute; z-index: 5; overflow: auto; width: 290px; margin: 6px 0 0 0; padding: 10px; background: #f5f5f5; border: 1px solid #aaa; box-shadow: 0 0 8px 0 #000;}
.board-list .dropdown.open {display: block;}
.board-list .dropdown .header {margin: 0 0 16px 0; padding: 5px 0 12px 0; border-bottom: 1px solid #e2e2e2;}
.board-list .dropdown .add-board {padding: 5px 0 14px 0;}
.board-list .dropdown .button.add {float: right; margin: -8px 0 0 0;}
.board-list .dropdown h3 {font-size: 16px; margin: 0; padding: 0; font-weight: bold; text-align: left; color: #999;}
.board-list .dropdown .actions {margin: 0 0 6px 0; padding: 0 0 5px 0; color: #666;}
.board-list .dropdown .actions input[type=text] {width: 98%; font-size: 16px;}
.board-list .dropdown ul {list-style: none;}
.board-list .dropdown ul li ul {float: right; margin: 9px 0 0 0;}
.board-list .dropdown ul li ul li {display: inline-block;}
.board-list .dropdown ul li ul li icon {opacity: .16; margin-top: 0;}
.board-list .dropdown ul li ul li.active icon {opacity: .4; margin-top: 0; color: #060;}
.board-list .dropdown ul li ul li:hover icon {opacity: 1;}
.board-list .dropdown ul li a.board {display: block; padding: 8px 0; font-weight: bold; font-size: 14px; border-bottom: 1px solid #eee;}
.board-list .dropdown ul li a.board:hover {text-decoration: underline;}
.board-list .dropdown ul li a.board.current {font-weight: bold; color: #555;}
.board-list .add.first {font-weight: bold;}

/*
.board-manage .button {float: right; margin-top: -7px;}
.board-manage h2 {margin: 0 0 8px 0; font-size: 16px; font-weight: normal; text-transform: uppercase; color: #999;}
.board-manage > ul {list-style: none; padding-top: 6px;}
.board-manage > ul > li {display: block; padding: 6px 4px; font-size: 16px; border-bottom: 1px dashed #ccc;}
.board-manage > ul > li > .sort {display: block; float: left; width: 12px; height: 16px; padding: 0 8px 0 0; opacity: .25; cursor: move; background: url(../../images/site/icons/sort_handle_12x16.png) 0 0 no-repeat;}
.board-manage > ul > li:hover > .sort {opacity: .6;}
.board-manage > ul > li > h3 {float: left;}
.board-manage > ul > li > h3 small {font-size: 13px; color: #aaa; margin-left: 10px;}
.board-manage > ul > li > ul.actions {float: right; list-style: none;}
.board-manage > ul > li > ul.actions li a {opacity: .3;}
.board-manage > ul > li > ul.actions li.highlight {opacity: .6;}
.board-manage > ul > li > ul.actions li.highlight a {opacity: .8;}
.board-manage > ul > li > ul.actions li a:hover {opacity: 1;}
.board-manage > ul > li > ul.actions li {display: inline-block; margin: 0 0 0 0;}
*/

.board-edit input[type=submit] {float: right;}
.board-edit .settings {padding: 10px 0 0 0; text-align: right; border-top: 1px solid #ddd;}
.board-edit .settings icon {color: #666;}
.board-edit.bare {padding: 0 0 14px 0; border-bottom: 1px solid #e2e2e2;}
.board-edit.bare input[type=text] {float: left; width: 55%; margin: -5px 6px 0 0; padding: 1px 3px 0 3px; font-size: 16px;}
.board-edit.bare .actions {float: right; margin: -5px 6px 0 0; padding: 0;}
.board-edit.bare .actions input[type=submit] {float: none; margin: 0 2px 0 4px;}

.board-share .button.share {float: right; margin: -7px 0 8px 0;}
.board-share .share-to {margin-bottom: 16px; padding: 10px; background: #f0f0f0;}
.board-share .share-to.open {display: block;}
.board-share .share-to .personas li {cursor: pointer;}
.board-share .share-to input[type=submit] {margin-right: 20px;}
