.bookmark {position: relative; padding: 16px; border-radius: 4px;}
.bookmark > .projects {float: right;}
.bookmark > .projects .project-list {margin: 0; padding: 0;}
.bookmark > .projects ul.actions {display: none;}
.bookmark .note-edit ul.type {top: 20px;}
