.bookmark {position: relative; padding: 16px; border-radius: 4px;}
.bookmark .projects {display: inline-block; margin-bottom: -3px;}
.bookmark .projects label {float: left; margin: 3px 6px 0 0; cursor: pointer; color: #888;}
.bookmark .projects .project {}
.bookmark .projects .project-list {margin: 0; padding: 0;}
.bookmark .projects .project-list img.loading {display: inline-block;}
.bookmark .projects ul.actions {display: none;}
.bookmark .edit h1 {display: inline-block; margin-right: 16px;}
.bookmark .note-edit ul.type {top: 20px; left: 360px;}
