.dashboard > .sidebar {float: left; position: absolute; top: 63px /* 22+40+1 */; width: 20%; height: 200px; overflow: auto;}
/* fixes a chrome (and webkit?) performance issue with fixed divs */
.dashboard > .sidebar {-webkit-transform: translateZ(0);}
.dashboard > .menu {}
.dashboard > .notes {float: right; width: 79%; min-height: 75px;}

