.dashboard > .sidebar {float: left; position: absolute; top: 63px /* 22+40+1 */; width: 20%; height: 200px; overflow: auto;}
/* fixes a chrome (and webkit?) performance issue with fixed divs */
.dashboard > .sidebar {-webkit-transform: translateZ(0);}
.dashboard > .menu {}
.dashboard > .notes {float: right; width: 79%; min-height: 75px;}

@media screen and (min-resolution: 250dpi), screen and (max-width: 1000px) {
	.dashboard > .sidebar {position: static; float: none; width: auto; height: auto; padding: 0 0 0 2%; overflow: hidden;}
	.dashboard > .notes {float: none; width: auto; min-height: 75px;}
}
