@import 'variables';

.notes {
	@note_list_margin: 3.125rem;
	.list-container {padding: (@note_list_margin * 2) @note_list_margin;}
	.list-container {
		> p.empty {padding: 25.0vh 24rem 0 24rem; font-size: 2.1em; line-height: 1.4em; color: @theme_gray; text-align: center;}
		> p.empty {
			small {display: block; font-size: .6em;}
			small {
				em {display: inline-block; vertical-align: bottom; margin: 0 0 -1rem 0; font-size: 1.8em;}
			}
			icon {display: block; font-size: 2.6em; color: @theme_gray_midlight; line-height: 1.5em;}
		}
	}
	ul.note-list {position: relative; width: 100%; margin: 0; padding: 0; list-style: none;}
	ul.note-list {
		li {margin: 0 @note_list_margin (@note_list_margin * 2) @note_list_margin; .card();}
	}

	ul.note-list.masonry {
		li {float: left; width: 48%;}
	}
	@media @landscape {
		ul.note-list.masonry {
			li {width: 32%;}
		}
	}
	ul.note-list.column {
	}
	ul.note-list.list {
	}
}

.note {
	@content_pad: 6rem;
	@color_size: 3rem;
	&.text,
	&.link {
		.note-gutter {padding: @content_pad;}
	}
	&.image {
		.backing {width: 100%; background: #000;}
		img {display: block; margin: 0 auto; max-width: 100%;}
		@header_height: 30rem;
		@header_top_pad: 4rem;
		.content h1 {position: relative; display: block; height: @header_height; margin: -(@header_height + @header_top_pad) 0 0 0; padding: @header_top_pad 0 0 6%; line-height: @header_height; color: #fff; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; .title-scrim();}
		.note-gutter .content .body {padding: @content_pad;}
		.note-gutter.color {
			h1 {margin-top: -(@header_height + @header_top_pad + @color_size);}
		}
	}
	.content {
		h1:last-child {margin-bottom: 0; padding-bottom: 0;}
		.body {
			*:last-child {margin-bottom: 0; padding-bottom: 0;}
		}
	}
	.note-color(@color) {border-top: @color_size solid @color;}
	.note-gutter.blue {.note-color(#73b8d1);}
	.note-gutter.red {.note-color(#e85c5c);}
	.note-gutter.green {.note-color(#7bde76);}
	.note-gutter.purple {.note-color(#9476de);}
	.note-gutter.pink {.note-color(#de76d3);}
	.note-gutter.brown {.note-color(#7f4e4e);}
	.note-gutter.black {.note-color(#111);}

	p.empty {padding: 10rem 0; color: @theme_gray; text-align: center;}
}
.turtl-modal.note-image {
	header {.title-scrim(top, .35, 100%); box-shadow: none;}
	.modal-gutter {padding-top: 0;}
}

.notes-edit {
	form {
		textarea {height: 24rem; max-height: 240rem;}
	}
	ul.colors {margin: 0; padding: 8rem 0 0 0; list-style: none; text-align: center;}
	ul.colors {
		// 'none','blue','red','green','purple','pink','brown','black'
		li {display: inline-block; margin: 0 5rem 0 5rem; padding: 0 0 6rem 0; .transition(border .3s, padding-bottom .3s;);}
		li.sel {padding-bottom: 4rem; border-bottom: 2rem solid #111;}
		li {
			span {display: block; width: 22rem; height: 22rem; border: 1rem solid #ccc; border-radius: 4rem;}
		}
		.edit-color(@color) {background: @color; border-color: @color;}
		.none span {}
		.blue span {.edit-color(#73b8d1);}
		.red span {.edit-color(#e85c5c);}
		.green span {.edit-color(#7bde76);}
		.purple span {.edit-color(#9476de);}
		.pink span {.edit-color(#de76d3);}
		.brown span {.edit-color(#7f4e4e);}
		.black span {.edit-color(#111);}
	}
}

