.notes div.note-actions {position: absolute; top: 0; display: block; height: 40px;}
.notes div.note-actions a {display: block; height: 40px;}
.notes div.note-actions a span {display: block;}
.notes div.note-actions a {
	background: #333; /* Old browsers */
	background: -moz-linear-gradient(top, #444444 1%, #222222 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#444444), color-stop(100%,#222222)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #444444 1%,#222222 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #444444 1%,#222222 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #444444 1%,#222222 100%); /* IE10+ */
	background: linear-gradient(to bottom, #444444 1%,#222222 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#222222',GradientType=0 ); /* IE6-9 */
	border-left: 1px solid #111;
	border-right: 1px solid #111;
}
.notes div.note-actions a.sel {background: #202020;}
.notes div.note-actions a.add-note {float: left; width: 96px;}
.notes div.note-actions a.add-note span {padding: 13px 0 13px 31px; color: #73b8d1; font-weight: normal; text-transform: uppercase; font-size: 11px; line-height: 12px; background: url(/images/site/icons/add_16x16.png) 9px center no-repeat;}
.notes div.note-actions ul {float: left; list-style: none; margin: 0 0 0 64px; border-left: 1px solid #111;}
.notes div.note-actions ul.hidden {display: none;}
.notes div.note-actions ul li {float: left;}
.notes div.note-actions ul li a {width: 40px; border-left: 0;}
.notes div.note-actions ul li a span {width: 40px; height: 40px; opacity: .3;}
.notes div.note-actions ul li a.grid span {background: url(/images/site/notes/icons/grid.png) center center no-repeat;}
.notes div.note-actions ul li a.masonry span {background: url(/images/site/notes/icons/masonry.png) center center no-repeat;}
.notes div.note-actions ul li a.list span {background: url(/images/site/notes/icons/list.png) center center no-repeat;}

/* individual note actions */
.notes div.actions {display: none; z-index: 2; position: absolute; top: 0; right: 0; height: 24px; padding: 0 0 0 4px; opacity: .95; background: #222; border: 1px solid #333;}
.notes div.actions a {opacity: .6;}
.notes div.actions a:hover {opacity: 1;}
.notes div.actions > a.open {display: inline-block; width: 16px; height: 24px; padding-left: 3px; background: url(/images/site/icons/open_16x16.png) center right no-repeat;}
.notes div.actions > a.menu {display: inline-block; width: 21px; height: 24px; margin: 0 0 0 3px; padding: 0 4px 0 6px; background: url(/images/site/icons/menu_19x16.png) 6px center no-repeat; border-left: 1px solid #2b2b2b;}
.notes div.actions > a span {display: none;}
.notes div.actions ul.dropdown {display: none; position: absolute; top: 25px; right: -1px; list-style: none; width: 36px; background: #222;}
.notes div.actions ul.dropdown.open {display: block;}
.notes div.actions ul.dropdown li {display: block; border-bottom: 1px solid #333;}
.notes div.actions ul.dropdown li a {display: block; width: 21px; height: 16px; padding: 6px 5px;}
.notes div.actions ul.dropdown li a.edit {background: url(/images/site/icons/edit_16x16.png) 10px center no-repeat;}
.notes div.actions ul.dropdown li a.delete {background: url(/images/site/icons/delete_16x16.png) 10px center no-repeat;}
.notes div.actions ul.dropdown li a span {display: none;}

/* note color circles */
.note-view .color,
ul.note_list .note .color {display: block; position: absolute; width: 8px; height: 8px; margin: -12px 0 0 -12px; border-radius: 4px;}
.note-edit .colors input[type=radio] {margin: 0;}
.note-edit .color {display: inline-block; width: 8px; height: 8px; border-radius: 4px;}
.color.none {color: #aaa; background: none;}
.note-edit .color.none {background: #ddd;}
.color.blue {color: #89dad7; background: #89dad7; background: #73b8d1;}
.color.red {color: #e85c5c; background: #e85c5c;}
.color.green {color: #7bde76; background: #7bde76;}
.color.purple {color: #9476de; background: #9476de;}
.color.pink {color: #de76d3; background: #de76d3;}
.color.brown {color: #7f4e4e; background: #7f4e4e;}
.color.black {color: #111; background: #111;}

/* view note */
.note-view {position: relative; padding: 20px;}
.note-view div.actions {padding-left: 0;}
.note-view:hover div.actions {display: block;}
.modalcontent .note-view h1 {
	/*width: 100%;*/
	margin: 0 0 8px 0;
	padding: 0;
	font-size: 20px;
	font-weight: bold;
	color: #666;
	line-height: 1.1em;
	text-transform: none;
	overflow: hidden;
	text-overflow: ellipsis;
}
.note-view .note-tags {float: right; max-width: 40%; margin-left: 16px; text-align: right;}
.note-view .note-tags img.icon {display: block; float: left; margin: 3px 10px 0 0; opacity: .5;}
.note-view .note-tags:hover img.icon {opacity: .7;}
.note-view ul.tags {display: inline-block; float: none; margin: 0; padding: 0;}
.note-view ul.tags li {display: inline-block; float: none; padding: 1px 4px 2px 4px; margin: 0 0 4px 6px; cursor: default;}
.note-view ul.tags li:last-child {margin-right: 4px;} /* don't know why this doesn't line up, but here's the fix */
.note-view ul.tags li span {color: #222;}
.note-view.image {padding: 0; overflow: hidden; text-align: center; background: #000;}
.note-view.image a.img {padding: 0; line-height: 1em; text-align: center; background: #000;}
.note-view.image .content {padding: 20px; margin-top: -2px; background: #fff;}

/* add/edit */
.note-edit ul.type {list-style: none; position: absolute; top: 32px; left: 200px;}
.note-edit ul.type li {float: left; display: inline-block; margin: 0 6px -1px 0; padding: 5px 10px; font-size: 12px; color: #73b8d1; text-transform: uppercase; cursor: pointer; border-radius: 4px;}
.note-edit ul.type li.sel {padding-top: 4px; color: #73b8d1; color: #111; border-top: 1px solid #ddd; background: #fff;}
.note-edit > form > div.type {display: none; float: left; width: 60%;}
.note-edit > form > div.type.sel {display: block;}
.note-edit > form input[type=text] {width: 95%;}
.note-edit > form textarea {width: 95%;}
.note-edit .form-note {color: #aaa;}
.note-edit input[type=submit] {float: right;}

.note-edit div.tags {float: right; width: 36%; padding-left: 2.2%; border-left: 1px solid #ddd;}
.note-edit div.tags input[type=text] {width: 162px; height: auto; margin-right: 2px;}
.note-edit div.tags input[type=button] {max-width: 64px;}

.note-edit div.submit {padding: 16px 0 0 0; margin: 16px 0 0 0; border-top: 1px solid #ddd;}

/* note listing */
ul.note_list {list-style: none; -webkit-transform: translateZ(0); margin-left: 16px;}
ul.note_list > li {position: relative;}
ul.note_list > li:hover > div.actions {display: inline-block;}
ul.note_list > li.hide {position: absolute !important; display: none !important;}

ul.note_list .note {line-height: 1.4em;}
ul.note_list .note h1 {
	margin: 0 0 0 0;
	padding: 0;
	font-size: 20px;
	color: #666;
	line-height: 1.1em;
	overflow: hidden;
	text-overflow: ellipsis;
}
ul.note_list .note h1 a {
	display: block;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}
ul.note_list .note span.break {font-size: 1px;}
ul.note_list .note h2 {font-size: 17px;}
ul.note_list .note h3 {font-size: 14px;}
ul.note_list .note h4 {font-size: 12px;}
ul.note_list .note h5 {font-size: 11px;}
ul.note_list .note em {font-style: italic;}
ul.note_list .note h5 {font-weight: bold;}

.note-view.image .color,
ul.note_list .note.image .color {margin: 4px 0 0 4px;}

/* grid */
ul.note_list.list_grid > li {
	float: left;
	display: block;
	width: 200px;
	height: 200px;
	margin: 0 24px 24px 0;
	padding: 16px;
	background: #fff;
}

ul.note_list.list_grid > li.image {width: 232px; height: 232px; padding: 0;}
ul.note_list.list_grid > li > div.gutter {width: 100%; height: 100%; overflow: hidden;}
ul.note_list.list_grid > li.image > div.gutter {width: 100%; height: 100%; overflow: hidden;}
ul.note_list.list_grid > li.image h2 {display: none; position: absolute; bottom: 0; width: 96%; height: 26px; padding: 6px 2% 0 2%; color: #fff; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; background: url(/images/site/trans_000_50.png) 0 0;}
ul.note_list.list_grid > li.image:hover h2 {display: block;}
ul.note_list.list_grid .note h1 {margin-bottom: 6px;}
ul.note_list.list_grid .note ul {list-style: disc;}
ul.note_list.list_grid .note ul,
ul.note_list.list_grid .note ol {margin: 0 0 16px 32px;}
ul.note_list.list_grid .note p {padding: 0 0 16px 0;}
ul.note_list.list_grid .note p:first-child {padding: 0 0 0 0; margin: 0;}
ul.note_list.list_grid .note img {max-width: 100%; max-height: 100%;}
ul.note_list.list_grid .note a.img {display: table-cell; width: 232px; height: 232px; vertical-align: middle; text-align: center; background: #000;}

/* masonry */
ul.note_list.list_masonry > li {
	float: left;
	display: block;
	width: 200px;
	margin: 0 16px 16px 0;
	padding: 16px;
	background: #fff;
}
ul.note_list.list_masonry > li.image {width: 232px; padding: 0;}
ul.note_list.list_masonry > li > div.gutter {width: 100%; max-height: 500px; overflow: hidden;}
ul.note_list.list_masonry > li.image > div.gutter {width: 100%; overflow: hidden;}
ul.note_list.list_masonry > li.image h2 {display: none; position: absolute; bottom: 0; width: 96%; height: 26px; padding: 6px 2% 0 2%; line-height: 1em; color: #fff; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; background: url(/images/site/trans_000_50.png) 0 0;}
ul.note_list.list_masonry > li.image:hover h2 {display: block;}
ul.note_list.list_masonry .note h1 {margin-bottom: 6px;}
ul.note_list.list_masonry .note ul {list-style: disc;}
ul.note_list.list_masonry .note ul,
ul.note_list.list_masonry .note ol {margin: 0 0 16px 32px;}
ul.note_list.list_masonry .note p {padding: 0 0 16px 0;}
ul.note_list.list_masonry .note p:first-child {padding: 0 0 0 0; margin: 0;}
ul.note_list.list_masonry .note img {max-width: 100%;}
ul.note_list.list_masonry .note a.img {display: block; width: 232px; line-height: 0; text-align: center; background: #000;}

/* list */
ul.note_list.list_list > li {
	float: none;
	display: block;
	margin: 0 0 16px 0;
	padding: 0 0 16px 48px;
	border-bottom: 1px solid #ddd;
}
ul.note_list.list_list > li > div.gutter { overflow: hidden; line-height: 1em;}

ul.note_list.list_list .note {line-height: 1.5em; white-space: nowrap; overflow: hidden;}
ul.note_list.list_list .note img {max-height: 100px;}
ul.note_list.list_list .note p {width: 78%; padding: 6px 0 0 0; margin: 0; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
ul.note_list.list_list .note p:first-child {padding: 0; margin: 0;}


