/* only applies when no personas listed */
.personas .content + .button + .content {padding-top: 16px; border-top: 1px dashed #555;}
.personas div.button.add {float: right; margin-top: 12px;}

/* persona edit form */
.persona-edit form {float: left; width: 60%;}
.persona-edit input[name=screenname] {margin-bottom: 4px;}
.persona-edit p.taken {display: block; margin-bottom: 12px; color: #777;}
.persona-edit p.taken.error {color: #a44;}
.persona-edit p.taken.success {color: #4a4;}
.persona-edit .info {float: right; width: 36%; padding-left: 2.2%; border-left: 1px solid #ddd;}

