/* only applies when no personas listed */
.personas .content + .button + .content {padding-top: 16px; border-top: 1px dashed #555;}
.personas div.button.add {float: right; margin-top: 12px;}

/* persona edit form */
.persona-edit form {float: left; width: 60%;}
.persona-edit input[name=screenname] {margin-bottom: 4px;}
.persona-edit p.taken {display: block; margin-bottom: 12px; color: #777; padding-left: 10px;}
.persona-edit p.taken.error {color: #a44;}
.persona-edit p.taken.success {color: #4a4;}
.persona-edit .info {float: right; width: 36%; padding-left: 2.2%; border-left: 1px solid #ddd;}

/* listing */
.personas ul.personas {list-style: none;}
.personas ul.personas > li {display: block; padding: 6px 4px; font-size: 16px; border-bottom: 1px dashed #aaa;}
.personas ul.personas > li h3 {display: inline-block;}
.personas ul.personas > li small {display: inline-block; margin: 0 0 0 12px; font-size: 12px; color: #888;}
.personas ul.personas > li > ul {float: right; list-style: none;}
.personas ul.personas > li > ul li {display: inline-block; margin: 0 0 0 3px;}
