/* only applies when no personas listed */
.personas .content + .button + .content {padding-top: 16px; border-top: 1px dashed #555;}
.personas div.button.add {float: right; margin-top: 12px;}

/* persona edit form */
.persona-edit form {float: left; width: 60%;}
.persona-edit form input[name=email] {margin-bottom: 4px;}
.persona-edit form a.skip {float: right; margin: 5px 12px 0 0;}
.persona-edit p.taken {display: block; margin-bottom: 12px; color: #777; padding-left: 10px;}
.persona-edit p.taken.error {color: #a44;}
.persona-edit p.taken.success {color: #4a4;}
.persona-edit .info {float: right; width: 36%; padding-left: 2.2%; border-left: 1px solid #ddd;}

/* listing */
div.personas-list > ul {list-style: none;}
div.personas-list > ul > li {display: block; padding: 6px 4px; font-size: 16px; border-bottom: 1px dashed #ccc;}
div.personas-list > ul > li h3 {display: inline-block;}
div.personas-list > ul > li h3 small {font-size: 14px; color: #383;}
div.personas-list > ul > li > small {display: inline-block; margin: 0 0 0 12px; font-size: 12px; color: #888;}
div.personas-list > ul > li > small.success {color: #5a3;}
div.personas-list > ul > li > ul {float: right; list-style: none; opacity: .3;}
div.personas-list > ul > li > ul li {display: inline-block; margin: 0 0 0 3px;}
div.personas-list > ul > li > ul li:hover {opacity: 1;}
div.personas-list > ul > li .email-settings {display: none; margin: 4px 0 0 0; padding: 12px; background: #f4f4f4;}
div.personas-list > ul > li .email-settings h4 {margin: 0 0 2px 0; font-size: 14px; font-weight: normal;}
div.personas-list > ul > li .email-settings table {min-width: 40%;}
div.personas-list > ul > li .email-settings td {font-size: 12px; color: #666;}

/* selector */
.select-persona .persona h3 {display: inline-block; margin: 0 16px 3px 0; font-size: 16px;}
.select-persona .persona p {color: #666;}
.select-persona .personas-list ul li:hover {background: #dfe;}
