.project-list {padding-bottom: 10px; margin-bottom: 10px; border-bottom: 1px solid #ddd;}
.project-list img.loading {display: none;}
.project-list select {float: left; display: block; width: 160px; margin: 0 10px 0 0;}
.project-list ul.actions {float: left; padding: 3px 0 0 0; list-style: none;}
.project-list ul.actions li {display: inline; margin: 0 3px 0 0;}
.project-list ul.actions a {display: inline-block; opacity: .8;}
.project-list ul.actions a:hover {opacity: 1;}
.project-list .add.first {font-weight: bold;}

.project-manage h2 {margin: 0 0 8px 0; font-size: 16px; font-weight: normal; text-transform: uppercase; color: #999;}
.project-manage > ul {list-style: none;}
.project-manage > ul > li {display: block; padding: 6px 4px; font-size: 16px; border-bottom: 1px dashed #ccc;}
.project-manage > ul > li > .sort {display: block; float: left; width: 12px; height: 16px; padding: 0 8px 0 0; opacity: .25; cursor: move; background: url(/images/site/icons/sort_handle_12x16.png) 0 0 no-repeat;}
.project-manage > ul > li > h3 {float: left;}
.project-manage > ul > li > ul.actions {float: right; list-style: none;}
.project-manage > ul > li > ul.actions li {display: inline-block; margin: 0 0 0 3px;}

.project-edit input[type=submit] {float: right;}

