@import '../variables';

.spaces-edit {
	.delete {margin: 32px 0 0 0;}
	.delete {
		p:last-child {padding: 0; margin: 0;}
		a {display: block; padding: 8rem; font-size: 14rem; text-align: center; background: @theme_gray_white;}
	}
}

