@import 'variables';

.user-login,
.user-join {
	form {padding-top: 38px;}
	.button {margin: 32px 0 16px 0;}
}

.user-join.confirm {.card();}
.user-join.confirm {
	.confirm-text {padding: 24px 16px 0 16px; font-size: .9em; text-align: left;}
	.confirm-text h2 {font-size: 1.7em; text-align: left;}
	.confirm-text em {font-style: italic;}
	.buttons {padding: 6px 0 16px 0;}
	.button {margin-top: 0;}
}

.user-main {width: 700px; margin: 60px auto 0 auto;}
.user-main {
	.login-main {float: left;}
	.join-main {float: right; padding-left: 50px; border-left: 1px solid #ccc;}
}

