{{#if has_shares}}
	<div class="members"></div>
	<div class="pending"></div>
{{else}}
	<p class="page-empty">
		{{icon 'share'}}
		{{t 'This board is not shared'}}<br>
		<small>{{t 'Tap the share button to start'}}</small>
	</p>
{{/if}}

