<!--
<ul class="switch">
	<li><a class="notes" href="/" title="Notes"><span>&nbsp;</span></a></li>
	<li><a class="notifications <? if(is_open) { ?>sel<? } ?>" href="#notifications" title="Notifications"><span>&nbsp;</span></a></li>
</ul>
-->
<div class="notification-list <? if(is_open) { ?>sel<? } ?>">
	<div class="gutter">
		<? if(notifications.length > 0) { ?>
			<ul>
				<? notifications.each(function(n) { ?>
					<? if(!n.body.type) { return false }; ?>
					<li class="clear <?=n.body.type?> notification_<?=n.id?>">
						<ul class="actions clear">
							<li><a class="accept" title="Accept invite" href="#accept">&nbsp;</a></li>
							<li><a class="deny" title="Delete invite" href="#deny">&nbsp;</a></li>
						</ul>
						<?=n.subject?>
					</li>
				<? }); ?>
			</ul>
		<? } else { ?>
			<p class="none">You have no notifications.</p>
		<? } ?>
	</div>
</div>

