<input class="req" type="email" name="email" value="{{persona.email}}" placeholder="Your email address (required)">
<input type="text" name="name" value="{{persona.name}}" placeholder="Full name">

<p>
	Personas enable sharing by giving your account a face. Normally, your
	account is completely anonymous, but by attaching a persona, you give your
	account a name and and email. This lets people share with you, and also lets
	you share with others.
</p>
<p>
	When you create your persona, a new PGP key will be generated for it. This
	may take several minutes.
</p>
<p>
	You can remove your persona at any time, which will also cancel all shares
	you have with others (making you anonymous again).
</p>

