<?
var action = persona.id ? 'Edit' : 'Add';
?>
<h1>
	<?=action?> persona
	<small><a href="#personas">&laquo; Back to <? if(return_to_manage) { ?>board management<? } else { ?>your personas<? } ?></a></small>
</h1>
<div class="persona-edit">
	<form class="standard-form">
		<input tabindex="1" type="text" name="screenname" value="<?=persona.screenname?>" placeholder="Screen name (valid characters: &quot;A-Z0-9.&quot;)">
		<img class="load" src="/images/site/icons/load_16x16.gif" width="16" height="16" alt="WORKING!!!1">
		<p class="taken">(type your screenname above to see if it's available)</p>

		<input tabindex="2" type="text" name="name" value="<?=persona.name?>" placeholder="Full name (optional)">
		<input tabindex="3" type="text" name="email" value="<?=persona.email?>" placeholder="Email (optional)">

		<span class="clearMe"></span>
		<div class="submit">
			<input tabindex="5" type="submit" value="<?=action?> persona">
		</div>
	</form>
	<div class="info content">
		<p>
			Personas give your account a face. Because of this, <strong>your
			personas are public and stored in plaintext in the database</strong>,
			allowing other users to find you and share with you (and also
			allowing you to share with others). The only required information
			for a persona is the screen name, which must be unique.
		</p>
		<p>
			While personas themselves are public, <strong>the link between a
			persona and your account is hidden and encrypted</strong>.
		</p>
	</div>
</div>
