<?
var action = persona.id ? 'Edit' : 'Add';
?>
<h1>
	<!--<? if(was_join) { ?><em>Almost done: </em><? } ?>-->
	<?=action?> <? if(was_join) { ?>a <? } ?>persona
	<? if(was_join) { ?>
		<small>(personas let you to share with others)</small>
	<? } else { ?>
		<small><a href="#personas">&laquo; Back to <? if(return_to_manage) { ?>board management<? } else { ?>your personas<? } ?></a></small>
	<? } ?>
</h1>
<div class="persona-edit clear">
	<form class="standard-form">
		<input tabindex="1" type="text" name="email" value="<?=persona.email?>" placeholder="Your email address">
		<img class="load" src="<?=img('/images/site/icons/load_16x16.gif')?>" width="16" height="16" alt="WORKING!!!1">
		<p class="taken">&nbsp;</p>

		<input tabindex="2" type="text" name="name" value="<?=persona.name?>" placeholder="Full name (optional)">

		<span class="clearMe"></span>
		<div class="submit">
			<input tabindex="4" type="submit" value="<?=action?> persona">
			<? if(was_join) { ?><a class="skip" href="#skip">Skip this step &raquo;</a><? } ?>
		</div>
	</form>
	<div class="info content">
		<p>
			By default, your Turtl account is private. Personas change this by
			giving your account a face: a name and an email people can use to
			find you on Turtl and securely share with you.
			<a href="http://turtl.it/docs/overview#personas-and-sharing" target="_blank">Read more &raquo;</a>
		</p>
	</div>
</div>

