<h1>Your personas</h1>
<div class="personas">
	<div class="content">
		<p>
			Personas let you give a "face" to your account. By default, your
			profile is private and your account is hidden. Persona's allow you to
			share your data (and be shared with).
		</p>
	</div>

	<? if(num_personas > 0) { ?>
		<div class="personas-list"></div>
	<? } ?>
	<? if(num_personas == 0) { ?>
		<div class="button add <? if(num_personas > 0) { ?>disabled<? } ?>">
			<span>Add a persona</span>
		</div>
		<div class="content">
			<p>
				You don't have any personas. <a href="#add-persona" class="add"><strong>Add one</strong></a>
				to start sharing.
			</p>
		</div>
	<? } ?>
</div>
