<? personas.each(function(p) { ?>
	<li class="persona_<?=p.id?> clear">
		<h3><?=p.email?></h3>
		<small><?=p.name?></small>
		<? if(show_edit) { ?>
			<ul>
				<li>
					<a href="#edit">
						<img src="<?=img('/images/site/icons/edit_16x16_black.png')?>" width="16" height="16" alt="edit">
					</a>
				</li>
				<li>
					<a href="#delete">
						<img src="<?=img('/images/site/icons/delete_16x16_black.png')?>" width="16" height="16" alt="delete">
					</a>
				</li>
			</ul>
		<? } ?>
	</li>
<? }); ?>

