<div class="select-persona">
	<? if(persona.id) { ?>
		<div class="persona">
			<h3><?=persona.email?></h3>
			<? if(!lock) { ?>
				<a href="#change" title="Pick another persona">change</a>
			<? } ?>
			<p>
				<?=persona.name?>
			</p>
		</div>
	<? } else { ?>
		<div class="search">
			<form class="standard-form">
				<input <? if(tabindex) { ?>tabindex="<?=tabindex?>"<? } ?> type="text" name="email" placeholder="Type the email of the person you're searching for.">
				<img class="load" src="<?=img('/images/site/icons/load_16x16.gif')?>" width="16" height="16" alt="WORKING!!!1">
			</form>
			<div class="personas">
				<div class="personas-list"></div>
			</div>
		</div>
	<? } ?>
</div>

