@import 'variables';

@action_size: 42rem;
@action_offset: 13rem;
#main {
	> .action {position: fixed; z-index: 12; bottom: @action_offset; right: @action_offset;}
	> .action {
		.abutton {position: relative; display: inline-block; width: @action_size; height: @action_size; text-align: center; border: 1rem solid #fff; border-radius: (@action_size / 1.9cm); background: @theme_primary; .layer-hover(); .transition(box-shadow .3s);}
		.abutton {
			icon {line-height: 1.9em; color: #fff; font-size: 22rem;}
		}
		> .abutton icon {font-size: 28rem; line-height: 1.5em; .transition(transform .3s);}
		> a {z-index: 21;}
		ul {display: none; margin: 0; padding: 0; list-style: none;}
		ul {
			li {position: fixed; z-index: 20; bottom: @action_offset; right: @action_offset; opacity: 0; text-align: right; white-space: nowrap; .transition(bottom .15s, opacity .15s;);}
			li {
				h4 {display: none; margin: 0 8rem 0 0; padding: 5rem; font-size: 14rem; color: #fff; background: rgba(0, 0, 0, .75); border-radius: 2rem;}
			}
		}
	}
	> .action.show-menu ul {display: block;}
	> .action.open {
		> a {.layer-flat();}
		> .abutton icon {.transform(rotate(135deg));}
		ul {}
		ul {
			li {opacity: 1;}
			li {
				h4 {display: inline-block;}
			}
			.generate_action_lis(@counter) when (@counter >= 0) {
				.generate_action_lis((@counter - 1));
				li.item-@{counter} {bottom: (@action_offset + ((@counter + 1) * 56rem));}
			}
			.generate_action_lis(10);
		}
	}
	> .action.hide {display: none;}
}

