/**
 *	Barfer.js - Mootools notifications library
 */
.barfr { 
	position: fixed;
	right: 20px;
	top: 20px;
	z-index: 9001;
}
.barfr ul {
	

	-moz-box-shadow: 0px 0px 10px #000;
	-webkit-box-shadow: 0px 0px 10px #000;
	box-shadow: 0px 0px 10px #000;

	
}
.barfr ul li {
	opacity: 1; 

	cursor: pointer;
	position: relative; 
	width: 250px;
	padding: 15px 35px 15px 15px;
	
	font-weight: bold;
	color: #ccc;
	text-shadow: 0px -1px black;
	line-height: 1.4em;

	border: 1px solid #505050;

	background: #383838;
	background: -moz-linear-gradient(top, #4d4d4d 0%, #313131 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4d4d4d), color-stop(100%,#313131)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #4d4d4d 0%,#313131 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #4d4d4d 0%,#313131 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #4d4d4d 0%,#313131 100%); /* IE10+ */
	background: linear-gradient(top, #4d4d4d 0%,#313131 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d4d4d', endColorstr='#313131',GradientType=0 ); /* IE6-9 */
}

.barfr ul li h2 {
	color: white;
	font-size: 14px;
	margin-bottom: 10px;
}

.barfr ul li:hover {
	color: #eee;
}
.barfr ul li a {
	color: white;
	border-bottom: 1px dotted white;
}
.barfr ul li a:hover {
	color: yellow;
	border-bottom: 1px solid yellow;
}
.barfr ul li a.close {
	position: absolute;
	display: block;
	right: 6px;
	top: 6px;
	width: 24px;
	height: 24px;
	background-image: url(../../images/barfr/close.png);
	border-bottom: 0px none transparent;
	opacity: .7;
}
.barfr ul li a.close:hover {
	opacity: 1;
}
