/* modalbox stuff */
#modalbox {position: absolute; display: block; z-index: 2000; margin-bottom: 32px;}
#modalbox.loading {text-align: center;}
#modalbox .modalgutter {display: block; padding: 12px;}
#modalbox .modalgutter .modalcontent {display: block; padding: 16px; overflow: auto; background: #fff; border-radius: 4px;}
#modalbox .closelink {position: absolute; top: 18px; right: -9px; display: block; width: 40px; height: 40px; margin: 0; padding: 0; background: url(/images/site/modal/close_filled.png) 0 0 no-repeat;}

#modalbox-overlay {position: fixed; z-index: 1999; top: 0; left: 0; width: 100%; height: 100%; background: #000; opacity: .71;}

#modalbox.bare .modalgutter {padding: 0;}
#modalbox.bare .modalgutter .modalcontent {min-height: 100px; padding: 0; border-radius: 0; background: #fff !important;}
#modalbox.bare .closelink {position: absolute; top: 4px; right: -22px; display: block; width: 40px; height: 40px; margin: 0; padding: 0; background: url(/images/site/modal/close_filled.png) 0 0 no-repeat;}
