@import 'variables';

#nav {display: none; position: absolute; z-index: 6; top: (@header_height - 1); width: 100%;}
#nav.show {display: block;}
#nav {
	> div {display: flex; flex-direction: row; justify-content: space-between; align-items: center; height: (@nav_height + 1); padding: 2rem 14rem 0 14rem; background: @theme_gutter; .layer-flat();}
	> div {
		h4 {font-size: 13rem; text-align: center;}
		icon {margin: 0 0 0 4rem; font-size: 12rem; transform: rotate(-90deg);}
	}
}

