<input type="text" name="title" value="{{space.title}}" placeholder="{{t 'Space title'}}">

<div class="delete">
	<p>
		<a href="#delete" rel="delete">{{t 'Delete this space'}} &raquo;</a>
	</p>
</div>

