<?
var color = note.color;
if(color) color = ['none','blue','red','green','purple','pink','brown','black'][parseInt(color)-1];
?>
<? if(color) { ?><span class="color <?=color?>"></span><? } ?>

<div class="actions">
	<a class="menu" href="#menu" title="Note menu"><span>Note menu</span></a>
	<ul class="dropdown">
		<li><a href="#edit" class="edit" title="Edit note (shortcut `e`)"><span>Edit note</span></a></li>
		<li><a href="#move" class="move" title="Move note to another project (shortcut `m`)"><span>Move note to another project</span></a></li>
		<li><a href="#delete" class="delete" title="Delete note (shortcut `delete`)"><span>Delete note</span></a></li>
	</ul>
</div>
<? var tags = Template.render('notes/view/tags', { tags: note.tags }); ?>
<?=Template.render('notes/view/'+note.type, {
	note: note,
	tags: tags.clean()
})?>

