<?
var color = note.color;
if(color) color = ['none','blue','red','green','purple','pink','brown','black'][parseInt(color)-1];
?>
<? if(color) { ?><span class="color <?=color?>"></span><? } ?>

<div class="actions">
	<a class="menu" href="#menu" title="Note menu"><span>Note menu</span></a>
	<ul class="dropdown">
		<li><a href="#edit" class="edit" title="Edit note (shortcut `e`)"><span>Edit note</span></a></li>
		<!--<li><a href="#move" class="move" title="Move note to another board (shortcut `m`)"><span>Move note to another board</span></a></li>-->
		<li><a href="#delete" class="delete" title="Delete note (shortcut `delete`)"><span>Delete note</span></a></li>
	</ul>
</div>
<? if(has_file) { ?>
	<div class="note-file">
		<? if(note.file.blob_url && note.file.type && note.file.type.match(/^image/)) { ?>
			<a href="<?=note.file.blob_url?>" target="_blank"><img src="<?=note.file.blob_url?>"></a>
		<? } else if(note.type != 'image' && note.file.type && note.file.type.match(/^image/)) { ?>
			<?=note.file.name?> (generating preview)
		<? } else if(note.file && note.type != 'image') { ?>
			<a href="#attachment" class="attachment" target="_blank">
				<img src="<?=img('/images/site/icons/files/'+file_type+'.png')?>" width="16" height="16" alt="file">
				<?=note.file.name?>
			</a>
		<? } ?>
	</div>
<? } ?>
<? if(note.type != 'image') { ?><div class="content clear"><? } ?>
	<? var tags = Template.render('notes/view/tags', { tags: note.tags }); ?>
	<?=Template.render('notes/view/'+note.type, {
		note: note,
		tags: tags.clean()
	})?>
<? if(note.type != 'image') { ?></div><? } ?>

