<?
var color = note.color;
if(color) color = ['none','blue','red','green','purple','pink','brown','black'][parseInt(color)-1];
?>
<? if(color) { ?><span class="color <?=color?>"></span><? } ?>

<div class="actions">
	<a class="open" href="#open" title="Open note (shortcut `enter`)">
		<icon>&#59212;</icon>
	</a>
	<a href="#edit" class="edit" title="Edit note (shortcut `e`)"><icon>&#9998;</icon></a>
	<a href="#delete" class="delete" title="Delete note (shortcut `delete`)"><icon>&#59177;</icon></a>

	<!--
	<a class="menu" href="#menu" title="Note menu"><span>Note menu</span></a>
	<ul class="dropdown">
		<li></li>
		<li><a href="#move" class="move" title="Move note to another board (shortcut `m`)"><span>Move note to another board</span></a></li>
		<li></li>
	</ul>
	-->
</div>
<?=Template.render('notes/note_file', {
	has_file: has_file,
	file_type: file_type,
	note: note
})?>
<div class="gutter content">
	<? if(!has_file && empty(note.title) && empty(note.url) && empty(note.text) && empty(note.embed)) { ?>
		<p class="empty">(empty note)</p>
	<? } else { ?>
		<?=Template.render('notes/list/'+note.type, {
			note: note
		})?>
	<? } ?>
</div>
