<?
var color = note.color;
if(color) color = ['none','blue','red','green','purple','pink','brown','black'][parseInt(color)-1];
?>
<? if(color) { ?><span class="color <?=color?>"></span><? } ?>

<div class="actions">
	<a class="open" href="#open" title="Open note (shortcut `enter`)"><span>Open note</span></a>
	<a class="menu" href="#menu" title="Note menu"><span>Note menu</span></a>
	<ul class="dropdown">
		<li><a href="#edit" class="edit" title="Edit note (shortcut `e`)"><span>Edit note</span></a></li>
		<li><a href="#delete" class="delete" title="Delete note (shortcut `delete`)"><span>Delete note</span></a></li>
	</ul>
</div>
<div class="gutter">
	<?=Template.render('notes/list/'+note.type, {
		note: note
	})?>
</div>
