<div class="content padded">
	<a class="extra" href="#code">Have an invite code?</a>
	<h2>Pending invites</h2>
	<div class="invite-code">
		<form class="standard-form">
			<input type="text" name="invite-code" placeholder="Enter your invite code">
			<div class="submit">
				<div class="button"><input type="submit" value="Add invite"></div>
			</div>
		</form>
	</div>
</div>
{{#if empty}}
	<div class="content padded">
		<p>You don't have any invites.</p>
	</div>
{{else}}
	<ul class="item-list"></ul>
{{/if}}
