<div class="members memlist">
	<h3>{{t 'Members'}}</h3>
	<div class="container"></div>
</div>


<div class="invites memlist {{#if can_add_invite}}has-perm{{/if}}">
	<h3>{{t 'Pending invites'}}</h3>
	<div class="container"></div>
</div>

