<?
var action = note.id ? 'Edit' : 'Add';
?>
<h1><?=action?> note</h1>
<div class="note-edit clear">
	<?
	var showtab = function(name)
	{
		var slug = name.toLowerCase();
		var t = '<li class="'+slug;
		if(note.type == slug) t += ' sel';
		t += '">'+ name +'</li>';
		return t;
	};
	?>
	<ul class="type clear">
		<? if(!note.id) { ?>
			<?=showtab('Quick')?>
		<? } ?>
		<?=showtab('Text')?>
		<?=showtab('Link')?>
		<?=showtab('Image')?>
		<!--
		<li>Embed</li>
		<li>PDF</li>
		-->
	</ul>
	<form class="standard-form">
		<div class="tags"></div>

		<div class="type quick">
			<textarea tabindex="1" name="quick" rows="8" cols="40" placeholder="Enter a link, text, image URL, etc"></textarea>
			<div class="form-note">
				Feel free to use <a href="http://daringfireball.net/projects/markdown/syntax" target="_blank">markdown</a> for note text.
			</div>
		</div>

		<div class="type url">
			<input tabindex="1" type="text" name="url" value="<?=note.url?>" placeholder="http://">
		</div>

		<div class="type title">
			<input tabindex="1" type="text" name="title" value="<?=note.title?>" placeholder="Title">
		</div>

		<div class="type text">
			<textarea tabindex="1" name="text" rows="8" cols="40" placeholder="Describe this note"><?=note.text?></textarea>
			<div class="form-note">
				Feel free to use <a href="http://daringfireball.net/boards/markdown/basics" target="_blank">markdown</a> for note text.
			</div>
		</div>

		<span class="clearMe"></span>
		<div class="submit">
			<input tabindex="3" type="submit" value="<?=action?> note">
		</div>
		<?/*
		<div class="colors">
			<span class="tooltip" title="Note color :: Note colors can be used to visually classify your notes. How you do this is up to you!">Color:&nbsp;</span>
			<? var colors = ['none','blue','red','green','purple','pink','brown','black']; ?>
			<? colors.each(function(c, i) { ?>
				<? i++; ?>
				<label for="inp_color_<?=i?>" title="<?=c?>">
					<span class="color <?=c?>"></span>
				</label>
				<input
					type="radio"
					id="inp_color_<?=i?>"
					name="color"
					value="<?=i?>"
					<? if(note.color == i) { ?>checked<? } ?>
					title="<?=c?>">
				&nbsp;
			<? }); ?>
		</div>
		*/?>
	</form>
</div>
