<?
var action = note.id ? 'Edit' : 'Add';
?>
<h1><?=action?> note</h1>
<div class="note-edit clear">
	<div class="boards"></div>

	<? if(show_tabs) { ?>
		<?
		var showtab = function(name)
		{
			var slug = name.toLowerCase();
			var t = '<li class="'+slug;
			if(note.type == slug) t += ' sel';
			t += '">'+ name +'</li>';
			return t;
		};
		?>
		<ul class="type clear">
			<? if(!note.id) { ?>
				<?=showtab('Quick')?>
			<? } ?>
			<?=showtab('Text')?>
			<?=showtab('Link')?>
			<?=showtab('Image')?>
			<!--
			<li>Embed</li>
			<li>PDF</li>
			-->
		</ul>
	<? } ?>
	<form class="standard-form">
		<div class="tags"></div>

		<div class="do-edit clear">
			<input type="button" name="preview" value="Preview">
			<div class="type quick">
				<textarea tabindex="1" name="quick" rows="8" cols="40" placeholder="Enter a link, text, image URL, etc"></textarea>
			</div>

			<div class="type url">
				<input tabindex="1" type="text" name="url" value="<?=(note.url ? note.url.replace(/"/g, '&quot;') : '')?>" placeholder="http://">
			</div>

			<div class="type title">
				<input tabindex="1" type="text" name="title" value="<?=(note.title ? note.title.replace(/"/g, '&quot;') : '')?>" placeholder="Title">
			</div>

			<div class="type text">
				<textarea tabindex="1" name="text" rows="8" cols="40" placeholder="Describe this note"><?=note.text?></textarea>
			</div>

			<div class="type upload"></div>

			<a href="#" class="markdown-tutorial">Formatting help &raquo;</a>
		</div>

		<div class="preview clear">
			<input type="button" name="edit" value="Edit">
			<div class="html content note-view"></div>
		</div>

		<span class="clearMe">&nbsp;</span>

		<div class="markdown-tutorial note-view content">
			<table>
				<tr>
					<td># One hash makes a large title</td>
					<td><h1>One hash makes a large title</h1></td>
				</tr>
				<tr>
					<td>## Two hashes for a smaller header</td>
					<td><h2>Two hashes for a smaller header</h2></td>
				</tr>
				<tr>
					<td>- dashes<br>- make<br>- bullets</td>
					<td><ul><li>dashes</li><li>make</li><li>bullets</li></ul></td>
				</tr>
				<tr>
					<td>1. you can make<br>1. numbered bullets<br>1. as well</td>
					<td><ol><li>you can make</li><li>numbered bullets</li><li>as well</li></ol></td>
				</tr>
				<tr>
					<td>[Making links](https://turtl.it/) is easy!</td>
					<td><a target="_blank" href="https://turtl.it/">Making links</a> is easy!</td>
				</tr>
				<tr>
					<td>You can also make text __bold__ or *italic*.</td>
					<td>You can also make text <strong>bold</strong> or <em>italic</em>.</td>
				</tr>
				<tr>
					<td>Here's an image: ![Turtl logo](https://turtl.it/favicon.png)</td>
					<td>Here's an image: <img src="https://turtl.it/favicon.png" alt="Turtl logo"></td>
				</tr>
				<tr>
					<td>&gt; Quote text with a caret</td>
					<td><blockquote>Quote text with a caret</blockquote></td>
				</tr>
				<tr>
					<td>
						&nbsp;&nbsp;&nbsp;&nbsp;indent_code_4_spaces() {}<br><br>
						or use backticks for `inline_code()`
					</td>
					<td>
						<pre><code>indent_code_4_spaces() {}</code></pre>
						or use backticks for <code>inline_code()</code>
					</td>
				</tr>
			</table>

			<span class="markdown-link form-note">Read more about <a href="http://support.mashery.com/docs/customizing_your_portal/Markdown_Cheat_Sheet" target="_blank">markdown</a>.</span>
			<br><br>
		</div>

		<span class="clearMe"></span>

		<div class="submit">
			<input tabindex="3" type="submit" value="<?=action?> note">
		</div>
		<!--
		<div class="colors">
			<span class="tooltip" title="Note color :: Note colors can be used to visually classify your notes. How you do this is up to you!">Color:&nbsp;</span>
			<? var colors = ['none','blue','red','green','purple','pink','brown','black']; ?>
			<? colors.each(function(c, i) { ?>
				<? i++; ?>
				<label for="inp_color_<?=i?>" title="<?=c?>">
					<span class="color <?=c?>"></span>
				</label>
				<input
					type="radio"
					id="inp_color_<?=i?>"
					name="color"
					value="<?=i?>"
					<? if(note.color == i) { ?>checked<? } ?>
					title="<?=c?>">
				&nbsp;
			<? }); ?>
		</div>
		-->
	</form>
</div>
