<div class="bar-actions">
	<a class="search" href="/notes/search"><icon>&#128269;</icon></a>
	<a class="add" href="/notes/add"><icon>&#10133;</icon></a>
</div>

<div class="filters">
	<div class="button note add" title="Add a new note to the current board (shortcut `a`)">
		<span><icon>&#10002;</icon> Add note</span>
	</div>
	<?/*
	<? if(enable_share) { ?>
		<div class="button muted note share" title="Share this board">
			<span><icon>&#59196;</icon> Share this board</span>
		</div>
	<? } ?>
	*/?>

	<div class="sort hidden">
		Sort notes by&nbsp;&nbsp;|&nbsp;
		<a href="#note-sort-id" class="sel asc">
			Date added
			<icon class="asc">&#59232;</icon>
			<icon class="desc">&#59235;</icon>
		</a>&nbsp;|&nbsp;
		<a href="#note-sort-mod">
			Recently changed
			<icon class="asc">&#59232;</icon>
			<icon class="desc">&#59235;</icon>
		</a>
	</div>

	<ul class="list-type hidden">
		<li>
			<a class="masonry <? if(display_type == 'masonry') { ?>sel<? } ?>" href="#listing" title="Display notes as an arranged grid">
				<span>&nbsp;</span>
			</a>
		</li>
		<li>
			<a class="grid <? if(display_type == 'grid') { ?>sel<? } ?>" href="#grid" title="Display notes as a boring grid (allows sorting notes)">
				<span>&nbsp;</span>
			</a>
		</li>
		<!--
		<li>
			<a class="list <? if(display_type == 'list') { ?>sel<? } ?>" href="#listing" title="Display notes as a list">
				<span>&nbsp;</span>
			</a>
		</li>
		-->
	</ul>
</div>
<ul class="clear note_list list_<?=display_type?>"></ul>

