{{#if initial}}
	<p class="empty">Decrypting notes...</p>
{{/if}}
{{#if no_results}}
	<p class="empty">No notes found.</p>
{{/if}}
{{#if empty}}
	<p class="empty">
		<icon>&#59190;</icon>
		No notes here!<br>
		<small>Tap <em>+</em> to start</small>
	</p>
{{/if}}
<ul class="note-list"></ul>

