{{#if initial}}
	<p class="page-empty">Decrypting notes...</p>
{{/if}}
{{#if no_results}}
	<p class="page-empty">No notes found.</p>
{{/if}}
{{#if empty}}
	<p class="page-empty">
		{{icon 'notes'}}
		No notes here!<br>
		<small>Tap <em>+</em> to start</small>
	</p>
{{/if}}
<ul class="note-list clear {{view_mode}}"></ul>

<p class="paginate">
	{{#if show_prev}}
		<a href="#prev" rel="prev">&lt; Prev</a>
	{{/if}}
	{{#if show_next}}
		<a href="#next" rel="next">Next &gt;</a>
	{{/if}}
</p>

