<?
var action	=	(board.id ? 'Edit' : 'Add');
?>
<? if(!bare) { ?>
	<h1>
		<? if(title) { ?>
			<?=title?>
		<? } else { ?>
			<?=action?> board
		<? } ?>
		<? if(return_to_manage) { ?>
			<small><a href="#manage">&laquo; Back to board manager</a></small>
		<? } ?>
	</h1>
<? } ?>
<div class="board-edit clear <? if(bare) { ?>bare<? } ?>">
	<form>
		<? if(bare) { ?>
			<input type="text" name="name" value="<?=board.title?>" placeholder="Board name">
			<div class="actions">
				<!--<a href="#submit"><icon>&#10003;</icon></a>-->
				<!--<a href="#cancel"><icon>&#10060;</icon></a>-->
				<input type="submit" class="add" value="<?=action?>">
				<a href="#cancel">Cancel</a>
			</div>
		<? } else { ?>
			<input type="submit" value="<?=action?> board">
			<input type="text" name="name" value="<?=board.title?>" placeholder="Board name">
		<? } ?>
	</form>
</div>
