<input type="text" name="name" value="{{board.title}}" placeholder="Board name">
{{#if show_settings}}
	<div class="settings">
		<a href="#delete">
			<icon>&#59177;</icon>
			Delete this board
		</a>
	</div>
{{/if}}
