<input type="text" dir="auto" name="title" value="{{board.title}}" placeholder="{{t 'Board title'}}">

{{#if show_move}}
	<div class="edit-button move">
		<p>
			<a href="#move" rel="move">{{t 'Move board to another space'}} &raquo;</a>
		</p>
	</div>
{{/if}}
{{#if show_delete}}
	<div class="edit-button delete">
		<p>
			<a href="#delete" rel="delete">{{t 'Delete this board'}} &raquo;</a>
		</p>
	</div>
{{/if}}

