<?
var action	=	(board.id ? 'Edit' : 'Add');
?>
<? if(!bare) { ?>
	<h1>
		<? if(title) { ?>
			<?=title?>
		<? } else { ?>
			<?=action?> board
		<? } ?>
		<? if(return_to_manage) { ?>
			<small><a href="#manage">&laquo; Back to board manager</a></small>
		<? } ?>
	</h1>
<? } ?>
<div class="board-edit clear <? if(bare) { ?>bare<? } ?>">
	<form>
		<? if(bare) { ?>
			<input type="text" name="name" value="<?=board.title?>" placeholder="Board name">
			<a href="#submit"><img src="<?=img('/images/site/icons/check_16x16.png')?>" width="16" height="16" alt="submit"></a>
			<a href="#cancel"><img src="<?=img('/images/site/icons/x_16x16.png')?>" width="16" height="16" alt="cancel"></a>
		<? } else { ?>
			<input type="submit" value="<?=action?> board">
			<input type="text" name="name" value="<?=board.title?>" placeholder="Board name">
		<? } ?>
	</form>
</div>
