<div class="bar-actions">
	<a class="add" href="/boards/add"><icon>&#10133;</icon></a>
</div>

<div class="board-index">
	{{#if boards}}
		<ul class="item-list">
			{{#each boards}}
				<li>
					<h2>
						<a href="/board/{{id}}">
							<icon>&#59230;</icon>
							{{title}}
						</a>
					</h2>
				</li>
			{{/each}}
		</ul>
	{{else}}
		<div class="interface">
			<p>
				<div class="button add" title="Add a new board">
					<span><icon>&oplus;</icon> Add a board</span>
				</div>
			</p>
			<h2>You have no boards</h2>
		</div>
	{{/if}}
</div>
