<div class="board-actions"></div>

<div class="status">
	{{#if shared}}
		{{icon 'share'}}
	{{/if}}
</div>
<h2>
	{{{board.title}}}
</h2>
<p>
	{{num_notes}} notes
	{{#if shared_with_me_directly}}
		<small>- Shared with me</small>
	{{/if}}
</p>

<div class="children"></div>

