<div class="board-actions"></div>

<div class="status">
	{{#if shared}}
		{{icon 'share'}}
	{{/if}}
</div>
<h2>
	{{{board.title}}}
</h2>
<p>
	<span class="count">{{num_notes}}</span> notes
	{{#if shared_with_me_directly}}
		<small>- Shared with me</small>
	{{/if}}
	{{#if shared_by_me}}
		<small>- Sharing with {{num_shared_with}}
	{{/if}}
</p>

<div class="children"></div>

