<div class="board-list">
	<? if(boards.length > 0) { ?>
		<select id="board_selector">
			<? boards.each(function(p) { ?>
				<option
					value="<?=p.id?>"
					<? if(current == p.id) { ?>selected<? } ?>>
					<?=p.title?>
				</option>
			<? }); ?>
		</select>
		<img class="loading" src="/images/site/icons/load_42x11.gif" width="42" height="11" alt="loading">
		<ul class="actions">
			<li>
				<a href="#" class="add" title="Add a new board (shortcut `b`)">
					<img src="/images/site/icons/add_16x16_black.png" alt="add" width="16" height="16">
				</a>
			</li>
			<li>
				<a href="#" class="manage" title="Manage your boards">
					<img src="/images/site/icons/manage_16x16_black.png" alt="manage" width="16" height="16">
				</a>
			</li>
		</ul>
	<? } else { ?>
		<ul class="actions">
			<li>
				<a href="#" class="add first" title="Add a new board (shortcut `b`)">
					<img src="/images/site/icons/add_16x16_black.png" alt="add" width="16" height="16">
					Add your first board
				</a>
			</li>
		</ul>
	<? } ?>
	<?/* little trick i learned in nam */?>
	<span style="clear:left;display:block;"></span>
</div>
