<ul>
	<? boards.each(function(b) { ?>
		<?
		var active_share	=	b.privs && Object.keys(b.privs).length > 0;
		?>
		<li>
			<? if(show_actions) { ?>
				<ul class="<?=b.id?>">
					<? if(b.shared) { ?>
						<li><a href="#leave" title="Leave this board"><icon>&#59201;</icon></a></li>
					<? } else { ?>
						<li <? if(active_share) { ?>class="active"<? } ?>><a href="#share" title="Share this board"><icon>&#59196;</icon></a></li>
						<li><a href="#edit" title="Board settings"><icon>&#9881;</icon></a></li>
						<!--<li><a href="#delete" title="Delete this board"><icon>&#59177;</icon></a></li>-->
					<? } ?>
				</ul>
			<? } ?>
			<a class="board <? if(current && current.id == b.id) { ?>current<? } ?>" href="#board-<?=b.id?>">
				<?=b.title?>
			</a>
		</li>
	<? }); ?>
</ul>
