{{#if empty}}
	{{#unless child}}
		<p class="empty">
			<icon>&#128188;</icon>
			No boards here!<br>
			<small>Tap <em>+</em> to start</small>
		</p>
	{{/unless}}
{{else}}
	<ul class="item-list"></ul>
{{/if}}

