<h1>Manage boards</h1>
<div class="board-manage">
	<? if(!enable_sharing) { ?>
		<a href="#add-persona">Add a persona</a> to enable sharing.
	<? } ?>
	<div class="button add">
		<span><icon>&oplus;</icon> New board</span>
	</div>
	<span class="clearMe"></span>
	<ul class="mine">
		<? boards.each(function(b) { ?>
			<li class="clear board_<?=b.id?>">
				<!--<span class="sort" title="Drag to sort boards"></span>-->
				<h3>
					<?=b.title?>
					<? if(b.shared) { ?><small>(shared)</small> <? } ?>
				</h3>
				<ul class="actions">
					<? if(b.shared) { ?>
						<li>
							<a href="#leave" class="<?=b.id?>" title="Leave board">
								<img src="<?=img('/images/site/icons/remove_16x16_black.png')?>" alt="share" width="16" height="16">
							</a>
						</li>
					<? } else { ?>
						<? if(enable_sharing) { ?>
							<li class="<? if(b.share_enabled) { ?>highlight<? } ?>">
								<a href="#share" class="<?=b.id?>" title="Share board">
									<img src="<?=img('/images/site/icons/share_16x16_black.png')?>" alt="share" width="16" height="16">
								</a>
							</li>
						<? } ?>
						<li>
							<a href="#edit" class="<?=b.id?>" title="Edit board">
								<icon>&#9998;</icon>
							</a>
						</li>
						<li>
							<a href="#delete" class="<?=b.id?>" title="Delete board (and all contained data)">
								<icon>&#10006;</icon>
							</a>
						</li>
					<? } ?>
				</ul>
			</li>
		<? }); ?>
	</ul>
</div>
