<h1>Manage boards</h1>
<div class="board-manage">
	<div class="button add">
		<span>New board</span>
	</div>
	<span class="clearMe"></span>
	<ul class="mine">
		<? boards.each(function(b) { ?>
			<li class="clear board_<?=b.id?>">
				<span class="sort" title="Drag to sort boards"></span>
				<h3>
					<?=b.title?>
					<? if(b.shared) { ?><small>(shared)</small> <? } ?>
				</h3>
				<ul class="actions">
					<? if(b.shared) { ?>
						<li>
							<a href="#leave" class="<?=b.id?>" title="Leave board">
								<img src="<?=img('/images/site/icons/remove_16x16_black.png')?>" alt="share" width="16" height="16">
							</a>
						</li>
					<? } else { ?>
						<li class="<? if(b.share_enabled) { ?>highlight<? } ?>">
							<a href="#share" class="<?=b.id?>" title="Share board">
								<img src="<?=img('/images/site/icons/share_16x16_black.png')?>" alt="share" width="16" height="16">
							</a>
						</li>
						<li>
							<a href="#edit" class="<?=b.id?>" title="Edit board">
								<img src="<?=img('/images/site/icons/edit_16x16_black.png')?>" alt="Edit" width="16" height="16">
							</a>
						</li>
						<li>
							<a href="#delete" class="<?=b.id?>" title="Delete board (and all contained data)">
								<img src="<?=img('/images/site/icons/delete_16x16_black.png')?>" alt="Delete" width="16" height="16">
							</a>
						</li>
					<? } ?>
				</ul>
			</li>
		<? }); ?>
	</ul>
</div>
