<h1>
	Sharing: <?=board.title?>
	<small><a href="#back">&laquo; Back to board manager</a></small>
</h1>
<div class="board-share">
	<div class="button add share">
		<span>Share this board</span>
	</div>
	<span class="clearMe"></span>

	<div class="share-to clear">
		<div class="select clear"></div>
		<form class="standard-form">
			<div class="submit">
				<input tabindex="4" type="submit" value="Invite" disabled>
			</div>
		</form>
	</div>

	<div class="personas-list">
		<? if(personas.length > 0 || invites.length > 0) { ?>
			<ul>
				<? personas.each(function(p) { ?>
					<li class="persona_<?=p.id?> clear">
						<h3>
							<?=p.email?>
							<? if(p.privs.i) { ?>
								<small>- invite pending</small>
							<? } ?>
						</h3>
						<small>
							(has <?=(p.privs.p == 2 ? 'write' : 'read')?> permissions)
						</small>
						<ul>
							<li>
								<a href="#remove" title="Remove this user from sharing">
									<img src="<?=img('/images/site/icons/remove_16x16_black.png')?>" width="16" height="16" alt="remove">
								</a>
							</li>
						</ul>
					</li>
				<? }); ?>

				<? invites.each(function(i) { ?>
					<li class="invite_<?=i.id?> clear">
						<h3>
							<?=i.email?>
							<small>- invite pending</small>
						</h3>
						<small>
							(has <?=(i.p == 2 ? 'write' : 'read')?> permissions)
						</small>
						<ul>
							<li>
								<a href="#cancel" title="Cancel this invite">
									<img src="<?=img('/images/site/icons/remove_16x16_black.png')?>" width="16" height="16" alt="remove">
								</a>
							</li>
						</ul>
					</li>
				<? }); ?>
			</ul>
		<? } else { ?>
			<p>
				You have not shared this board with anyone.
			</p>
		<? } ?>
	</div>
</div>
