<div class="project-list clear">
	<? if(projects.length > 0) { ?>
		<select>
			<? projects.each(function(p) { ?>
				<option
					value="<?=p.id?>"
					<? if(current == p.id) { ?>selected<? } ?>>
					<?=p.title?>
				</option>
			<? }); ?>
		</select>
		<a href="#" class="add" title="Add a new project">
			<img src="/images/site/icons/add_16x16.png" alt="add" />
		</a>
	<? } else { ?>
	<a href="#" class="add first">
		<img src="/images/site/icons/add_16x16.png" alt="add" />
		Add your first project
	</a>
	<? } ?>
</div>
