<div class="project-list">
	<? if(projects.length > 0) { ?>
		<select>
			<? projects.each(function(p) { ?>
				<option
					value="<?=p.id?>"
					<? if(current == p.id) { ?>selected<? } ?>>
					<?=p.title?>
				</option>
			<? }); ?>
		</select>
		<ul class="actions">
			<li>
				<a href="#" class="add" title="Add a new project (shortcut `p`)">
					<img src="/images/site/icons/add_16x16_black.png" alt="add" width="16" height="16" />
				</a>
			</li>
			<li>
				<a href="#" class="edit" title="Edit current project">
					<img src="/images/site/icons/edit_16x16_black.png" alt="Edit" width="16" height="16" />
				</a>
			</li>
			<li>
				<a href="#" class="delete" title="Delete current project">
					<img src="/images/site/icons/delete_16x16_black.png" alt="Delete" width="16" height="16" />
				</a>
			</li>
		</ul>
	<? } else { ?>
		<ul class="actions">
			<li>
				<a href="#" class="add first" title="Add a new project (shortcut `p`)">
					<img src="/images/site/icons/add_16x16_black.png" alt="add" width="16" height="16" />
					Add your first project
				</a>
			</li>
		</ul>
	<? } ?>
	<?/* little trick i learned in nam */?>
	<span style="clear:left;display:block;"></span>
</div>
