<div class="confirm-text">
	<h2 class="error">
		Remember your login/password
	</h2>
	<p>
		Without them, your entire profile will be lost <em>forever</em>! Because
		Turtl is so secure, it has no password recovery feature.
	</p>
	<p>
		<em>Please keep your username and password in a safe place!</em>
	</p>
</div>

<div class="button confirm">
	<span><icon>&#10003;</icon> Got it!</span>
</div>

