<input type="text" name="username" placeholder="Username" tabindex="4">
<input type="password" name="password" placeholder="Password" tabindex="5">
<input type="password" name="confirm" placeholder="Confirm password" tabindex="6">
<!--
{{#if enable_promo}}
	{{#unless promo}}
		<a class="open-promo" href="#open-promo">Have a promo code?</a>
	{{/unless}}
	<div class="promo {{#if promo}}open{{/if}}">
		Promo code: <input type="text" name="promo" value="{{promo}}" placeholder="Promo code" tabindex="7">
	</div>
{{/if}}
-->
<div class="buttons">
	<div class="button join">
		<span>Join</span>
	</div>
	<p>
		<a href="/users/login">Login to an existing account</a>
	</p>
</div>

