<div class="userform join">
	<h1>Join Turtl</h1>
	<form action="/users/join">
		<input type="text" name="username" placeholder="Username" tabindex="4">
		<input type="password" name="password" placeholder="Password" tabindex="5">
		<input type="password" name="confirm" placeholder="Confirm password" tabindex="6">
		<div class="content">
			<p class="error">
				You must <strong>remember your username/password</strong>.
			</p>
			<p>
				Your password is used not only to log you in, but to decrypt all
				of your data in Turtl. There is no password recovery feature
				because even we don't have access to the data in your user account
				(it's encrypted with your password).
			</p>
			<p>
				<em>Make sure you keep your username and password in a safe place!</em>
			</p>
		</div>
		<input type="submit" value="Join" tabindex="7">
	</form>
</div>

