<div class="userform join">
	<h1>
		Join tag.it
		<small><a href="/users/login" title="Log in">Already have an account?</a></small>
	</h1>
	<form action="/users/join">
		<input type="text" name="username" placeholder="Username" >
		<input type="password" name="password" placeholder="Password" >
		<input type="password" name="password" placeholder="Confirm password" >
		<div class="content">
			<p class="error">
				You <em>must</em> <strong>remember your password</strong>.
			</p>
			<p>
				Your password is used not only to log you in, but to decrypt all
				of your data in tag.it.  There is no password recovery feature
				because even we don't have access to the data in your user account
				(it's encrypted with your password).
			</p>
			<p>
				<em>Make sure you keep your password in a safe place!</em>
			</p>
			<p>
				Read more about <a href="/pages/about">how tag.it works</a>.
			</p>
		</div>
		<input type="submit" value="Join" >
	</form>
</div>

