<input type="text" name="username" placeholder="Username" tabindex="1" autocorrect="off" autocapitalize="none">
<input type="password" name="password" placeholder="Passphrase" tabindex="2">

<div class="buttons">
	<div class="button login">
		<input type="submit" class="button" value="Login">
	</div>
	<p class="load">
		{{svg 'loading'}}
	</p>
	<p>
		<a href="/users/welcome">Create an account</a>
	</p>
</div>

