<div class="userform login">
	<h1>Login</h1>
	<form action="/users/login">
		<input type="text" name="username" placeholder="Username" tabindex="1">
		<input type="password" name="password" placeholder="Password" tabindex="2">
		<input type="submit" value="Login" tabindex="3">
	</form>
</div>
