<div class="interface">
	<div class="confirm-text">
		<h2>A note on how Turtl works</h2>
		<p>
			The username and password you use to create your Turtl account not
			only lets you log in, but also acts as the "key" that locks and
			unlocks your data.
		</p>
		<p>
			For your security, your login and key are never stored anywhere in
			the app or on Turtl's servers, and Turtl has no "Forgot password"
			feature.
		</p>
		<p>
			<em class="error">You need to
			remember your login</em> or keep it in a safe place (like a
			password manager). If you lose it, your profile is lost!
		</p>
	</div>

	<div class="button confirm">
		<span><icon>&#10003;</icon> I will remember my login!</span>
	</div>
</div>

