<div class="interface">
	<div class="confirm-text">
		<h2>A note on how Turtl works</h2>
		<p>
			Your account username and password together act as the "key" that
			locks and unlocks your data. We don't store your login info anywhere,
			so <em class="error">you need to remember your login</em> or keep
			it in a safe place (like a password manager).
		</p>
		<p>
			Turtl has no "Lost password" feature. If you lose your login, your
			profile is gone forever!
		</p>
		<p>
			It can be helpful to use your email address as your username.
		</p>
	</div>

	<div class="buttons">
		<div class="button confirm">
			<span>I will remember my login!</span>
		</div>
	</div>
</div>

