<div class="interface">
	<div class="confirm-text">
		<h2>A note on how Turtl works</h2>
		<p>
			Turtl encrypts all you data for you. To do this, it needs to use a key
			that locks/unlocks your profile.
		</p>
		<p>
			Your username and password together act as the keys to your data. They
			not only allow you to log in to Turtl, but also decrypt your profile.
			Turtl keeps them completely private and doesn't store them anywhere.
			This means there is no password recovery feature in Turtl.
		</p>
		<p>
			For this reason, you <em>need</em> to remember your login information or
			keep it in a safe place (like a password manager). Once you lose or
			forget it, your profile is lost!
		</p>
	</div>

	<div class="button confirm">
		<span><icon>&#10003;</icon> Got it!</span>
	</div>
</div>

