{{#if have_boards}}
	<div class="note-boards">
		<icon>&#xe803;</icon>
		{{#if boards.length}}
			<ul>
				{{#each boards}}
					<li>
						{{name}}
					</li>
				{{/each}}
			</ul>
		{{else}}
			<span>This note is not in any boards &raquo;</span>
		{{/if}}
	</div>
{{/if}}

