<div class="invite">

	<form class="standard-form">
		<h2>Invite <?=invite.email?> to the board "<?=board.title?>"</h2>
		<div class="do-secure">
		</div>
		<? if(persona.id) { ?>
			<p>
				<span class="success">This invite will be sent encrypted.</span>
				(<?=persona.email?> is already a Turtl user)
			</p>
		<? } else { ?>
			<p>
				This invite will be sent via email.
				(<?=invite.email?> is not a Turtl user, YET)
			</p>
		<? } ?>

		<? if(!persona.id) { ?>
			<div class="challenge">
				<h3>
					<label for="invite_secure_chk"><icon>&#128274;</icon> Secure this invite</label>
					<input type="checkbox" id="invite_secure_chk" class="secure" <? if(!persona.id) { ?>checked<? } ?>>
				</h3>
				<div class="inner">
					<p>
						<em>Ask the recipient a question only they would know the answer
						to.</em> They will not have access to the answer, but must know
						it from memory.  Feel free to give formatting hints in the
						question.
					</p>
					<input type="text" name="question" placeholder="Question. &quot;What item did I lose on our last road trip? (Hint: two words)&quot;">
					<input type="text" name="answer" placeholder="Answer. &quot;decoder ring&quot;">
				</div>
			</div>
		<? } ?>

		<div class="submit">
			<input tabindex="4" type="submit" value="Invite">
		</div>
	</form>
</div>
