<h1>Invites</h1>

<div class="invites-list">
	<? if(invites.length > 0 || messages.length > 0) { ?>
		<? if(num_personas > 0) { ?>
			<ul>
				<? messages.each(function(msg) { ?>
					<li class="clear message <?=msg.body.type?> message_<?=msg.id?>">
						<div class="actions">
							<a href="#accept" title="Accept invite"><img src="<?=img('/images/site/icons/check_16x16.png')?>" width="16" height="16" alt="Accept"></a>
							<a href="#deny" title="Deny invite"><img src="<?=img('/images/site/icons/x_16x16.png')?>" width="16" height="16" alt="Deny"></a>
						</div>
						<?=msg.subject?>
					</li>
				<? }); ?>
				<? invites.each(function(inv) { ?>
					<? inv.data || (inv.data = {}); ?>
					<li class="invite invite_<?=inv.id?> clear">
						<div class="actions">
							<? if(inv.data.used_secret) { ?>
								<a href="#unlock" title="Unlock invite"><img src="<?=img('/images/site/icons/lock_16x16_blank.png')?>" width="16" height="16" alt="Unlock"></a>
							<? } else { ?>
								<a href="#accept" title="Accept invite"><img src="<?=img('/images/site/icons/check_16x16.png')?>" width="16" height="16" alt="Accept"></a>
							<? } ?>
							<a href="#deny" title="Deny invite"><img src="<?=img('/images/site/icons/x_16x16.png')?>" width="16" height="16" alt="Deny"></a>
						</div>
						<? if(inv.from) { ?>
							<strong><?=inv.from.email?></strong>
							invited you to join a 
							<?=(inv.type != 'b' ? 'other' : 'board')?>
						<? } else {  ?>
							<?=(inv.type != 'b' ? 'Other' : 'Board')?> invite
							<strong><?=inv.code?></strong>
						<? } ?>
						<? if(inv.data.used_secret) { ?>
							&nbsp;&nbsp;(locked invite, <a href="#unlock">enter secret to unlock</a>)
							<form class="secret">
								<input type="text" name="secret" placeholder="Enter this invite's shared secret to unlock and accept">
								<input type="submit" value="Unlock">
							</form>
						<? } ?>
					</li>
				<? }); ?>
			</ul>
		<? } else { ?>
			<div class="button add persona"><span>Add a persona</span></div>
			<br><br>
			<p>You have <?=invites.length?> invite(s), but you cannot accept them without a persona.</p>
		<? } ?>
	<? } else { ?>
		<p>You have no pending invites.<p>
	<? } ?>
</div>
